[2015-12-14 17:36] zurbrandon opened #7 "Center tag needs to be made an attribute"
The center tag we're currently using needs to be a and attribute on the element you want centered.

[2015-12-17 17:27] tdhartwick opened #9 "Discussion - Workflow"
We've created a brand new Gulp workflow for Foundation for emails including a command line interface to templataize emails, inline them and modify Sass.  We want to know if this is even a thing you're interested in using! We have a few questions around this:

1. Will you use our gulp set up?
2. Does Inky do what you need it to do?
3. Is there anything you're using that you'd love to see?

[2015-12-17 17:28] tdhartwick opened #10 "Discussion - Sass"
We've Sassified our workflow! You can now access all of the mighty powers that Sass offers, including mixins, functions, and variables! We're really looking forward to seeing how people use variables within the new Foundation for Emails. The idea is to update a variable within your `_settings.scss`, such as a primary color, and see your style cascade everywhere it needs to go! We're interested in

[2015-12-17 17:36] tdhartwick opened #11 "Discussion - Panini"
In this version of Foundation for Emails we've included [our flat file generator, Panini](https://github.com/zurb/panini). This let's us keep consistent head and footers so that we can just include the body styles and content, making it easy to whip out stylistically similar emails in a synch. We want to know:

1. does Panini make sense in the Foundation for Emails?
2. Would you use Panini in your

[2015-12-18 18:43] bago opened #12 "Test template not working responsively on Edge, Firefox and IE (works fine in Chrome)"
When I test the bundled template using "npm test" I can see it correctly react to window-width changes only on Chrome while it breaks on Firefox, IE11, Edge 13 (windows 10).
![edge-13-foundemail2](https://cloud.githubusercontent.com/assets/173498/11903978/5dd1a0c2-a5bd-11e5-9fe2-fbf8d667379d.png)

I guess the issue is related to some CSS applying a ```display: block !important``` to ```<table>```

[2015-12-21 11:05] alfatreze opened #13 "Discussion - Others"
I have a few doubts about the basic framework setup, regarding the GCC requirement.
I'm quite ok with installing but:
- What exactly is it used for?
- and what packages are actually required?
As there is a fair amount of them to choose from on MinGW.

[2015-12-22 17:48] tdhartwick opened #19 ".Center class needs space after running Inky"
See: https://github.com/zurb/foundation-emails/issues/7#issuecomment-166670665

This could have a larger effect on other classes within the framework.

[2015-12-28 13:19] webmasterlpo opened #22 "Button radius"
Is it possible to have rounded corner on buttons ?

[2015-12-29 09:50] webmasterlpo opened #25 "Centered element non centered on small screen"
Why the centered elements aren't centered on small screen ?

The code I'm using:
[code]

[2016-01-06 17:33] tdhartwick opened #27 "Small-12 needs to stack to 100%"
In order to have the small grids work, and not automatically stack on small, we needed to remove the `display: block` from the wrapper element. This now makes all of the other small combinations work, i.e. a `small=5` and a `small=7` now work. The problem occurs when we have multiple `small=12`'s that need to stack.

We should either:
- Remove wrapper elements. Or...
- Target the parent wrapper of

[2016-01-13 20:45] klangwiedergabe opened #28 "last class added with no blank space( )"
The last class is added without any space if you add a custom class to your last td.

Example
in your last  td a.k.a. columns you want to call it: columns class="yolo"

But you get:
td class="yololast"

You can obviously make a manual space at the end your class and fix it, but I guess the instruction should be like "add a last class if it's your last columns" because "add a blank space if is your

[2016-01-16 21:11] axlf opened #29 "`npm test` throws errors"
Hey,

I'm trying to run `npm test` on my Mac Host but it throws errors.

[code]

Following versions are installed:
[code]

Any ideas?

Thanks

[2016-01-25 15:42] krypsin opened #30 "npm test throws error for babel module"
Am on Linux Mint 17.2
node -v: v0.12.7
npm -v: 2.11.3

When I run `npm test` in my foundation for emails folder, I get the following errors:
[15:32:13] Requiring external module babel-core/register
/home/leehanbury/repos/foundation-emails/testing/gulpfile.babel.js:89
_gulp2.default.task('build', _gulp2.default.series.apply(_gulp2.default, build
                                                  ^
T

[2016-02-02 18:57] gakimball opened #31 "Update scss directory structure"
To be consistent with Foundation for Sites (and Apps 2), the Sass files should be organized like this:

[code]

[2016-02-05 02:08] treechime opened #32 ".wrapper distorting column size on small breakpoint"
I may be doing something wrong (I've only been playing with this for about an hour) but using the examples given, on mobile, if I have two columns the .wrapper td will distribute it's space evenly, instead of as determined by the column size on the table inside it.

[code]

On desktop the above is fine but on mobile it shows the .wrapper tds as 50% of the width and distributing the column widths w

[2016-02-06 03:53] rafibomb opened #33 "Changing $warning-color variable doesn't change color"
No matter what color I change this setting to in settings.scss, it doesn't change. No errors.

[2016-02-08 03:32] rafibomb opened #34 "Variable naming needs updates"
Couple variable might need renaming since the markup has been simplified:

$wrapper-padding-top
$sub-column-padding-right

[2016-02-08 03:35] rafibomb opened #35 "Grid column padding variable does not affect container"
Trying to space text away from container edge. I expect the column padding to handle the spacing of text from the container edge.

Changing $grid-column-gutter does not affect this.

[2016-02-08 03:40] rafibomb opened #36 "Changing $body-font-size does nothing"
Expected this to change the body font size from 14px.

No effect.

[2016-02-08 04:18] rafibomb opened #37 "Changing $light-gray variable does not change callout background"
In settings file, the main $light-gray color variable changes nothing in callout. Hard coding a color in the $callout background variable works as expected.

[2016-02-09 00:10] allenwoot opened #38 ""Cannot GET /" on localhost:3000"
I'm getting the text Cannot GET / on npm test when the browser opens up localhost:3000.

This is in the develop branch, and the master branch worked for me.

[2016-02-09 22:13] rafibomb opened #39 "$wrapper-padding-top not needed"
$wrapper-padding-top is actually not needed anymore since a wrapper table is not needed.

[2016-02-10 00:18] rafibomb opened #40 "Changes not taking effect in production"
Running `npm run production` starts the server and loads the page in browser. Changing CSS does not show until command is run again.

[2016-02-10 00:59] rafibomb opened #41 "Buttons should have a margin bottom"
This matters on small screens when you expect the buttons to stack. Since there is a touch target, it doesn't make sense to have them stacked up without a space.

[2016-02-18 18:43] gakimball commented on #31
8cb78911d1bf2281c7f2460ad14dedc770f2d2cf

[2016-02-18 18:43] #31 closed

[2016-02-18 18:56] gakimball commented on #38
This was either happening because the testing folder had no `index.html` file, or BrowserSync launched before Gulp was done processing pages.

Either way, today we put out a [release candidate](https://github.com/zurb/foundation-emails/releases/tag/v2.0.0-rc.1) for Foundation for Emails 2, and all future testing will happen in the [dedicated template repo](https://github.com/zurb/foundation-emails

[2016-02-18 18:56] #38 closed

[2016-02-18 18:57] gakimball commented on #19
Should be fixed via zurb/inky#2

[2016-02-18 18:57] #19 closed

[2016-02-18 19:00] gakimball commented on #30
We put out an initial [release candidate](https://github.com/zurb/foundation-emails/releases/tag/v2.0.0-rc.1) today for Foundation for Emails 2, and along with that [a dedicated template repo](https://github.com/zurb/foundation-emails-template) for testing. All future testing will happen on that template, instead of the one built into this repo.

If you encounter any more issues with the final tem

[2016-02-18 19:00] #30 closed

[2016-02-18 19:23] gakimball commented on #40
Confirmed to still be happening in the [template repo](https://github.com/zurb/foundation-emails-template).

[2016-02-18 19:29] gakimball commented on #40
This is only an issue if we need to be able to live develop with the inliner. Which is to say, you can keep the server running and it inlines every time, versus you running the inlining process once.

@tdhartwick @rafibomb Do we need live watching functionality with the inlining process? With the other frameworks, when you build for production, it's a one-time build.

[2016-02-22 15:53] krypsin commented on #30
Sorry if I'm missing something here, but there isn't an issues page on the final template repo.

Anyway, I still have a similar issue with the new template repo :(

Everything looks a lot cleaner now, and works to some degree, however I still get:
`[15:48:57] Failed to load external module babel-register`
When I run `foundation watch`

Same npm and node versions as OP

What can we try next?

[2016-02-22 16:15] nwerr opened #45 "Special characters and nested html tags"
Using special characters with other html tags (span, br, a) inside a component results in an error.

Example:
[code]
Error:
[code]

[2016-02-22 18:51] kchez opened #46 "Project Can't Be Deleted - Node Paths Too Long"
Having issues deleting a project folder. I'm getting messages about filename too long or path too long.  This is a huge issue for regular users.  And my solution may not work for others.  **Is there a better way to package your dependencies?**

Installed both ways and got different results:

1. **Using the CLI** = resulted with 21 items in node_modules\
![installed-using-cli-21-node-modules](https

[2016-02-22 20:00] kchez opened #47 "'npm start' error - fails to load 'babel-register'"
This may be related to issue #29, but I'm getting the error when building the project and running 'npm start'.

![required-babel-register-failed-to-load](https://cloud.githubusercontent.com/assets/11340351/13230833/f14be480-d974-11e5-844a-25a52fe4105e.png)

[2016-02-22 21:58] gakimball opened #159 "Center tag needs to be made an attribute"
_From @zurbrandon on December 14, 2015 17:36_

The center tag we're currently using needs to be a and attribute on the element you want centered.

_Copied from original issue: zurb/foundation-emails#7_

[2016-02-22 21:58] gakimball commented on #159
_From @tdhartwick on December 16, 2015 21:55_

To elaborate:

There are two examples.
1. Center Element
2. Center Column

In both of these examples the element that needs to be centered gets the `.center` class applied to it. Outside of this element, a `<center>` tag needs to be a direct parent of this element. See:

[code]

In the new Inky language the desired syntax should read:

[code]

This sy

[2016-02-22 21:58] gakimball commented on #7
This issue was moved to zurb/ink#159

[2016-02-22 21:58] gakimball commented on #159
_From @slateb on December 22, 2015 16:47_

@tdhartwick this is definitely a good idea. I have had some issue with using .center class. For instance when I have tried to center 11 columns Inky seems to spit out the wrong code:

`<columns large='10' class="center">` ends up looking like this:

[code]

There needs to be a space between center and last.

[2016-02-22 21:58] gakimball commented on #159
_From @navelpluisje on January 8, 2016 20:33_

I did a rewrite of the button (to give it for example a `href` attribute) and to make it work properly I also did a fix on the handling of the attributes to avoid issues like these. These issues also could happen if `class` is not the first attribute. Made a pull request for it: https://github.com/zurb/inky-parse/pull/6

[2016-02-22 21:58] #7 closed

[2016-02-22 21:59] gakimball opened #160 "Discussion - Workflow"
_From @tdhartwick on December 17, 2015 17:27_

We've created a brand new Gulp workflow for Foundation for emails including a command line interface to templataize emails, inline them and modify Sass.  We want to know if this is even a thing you're interested in using! We have a few questions around this:
1. Will you use our gulp set up?
2. Does Inky do what you need it to do?
3. Is there anything

[2016-02-22 21:59] gakimball commented on #160
_From @txcbenji on December 18, 2015 23:58_

Our current workflow mirrors this one to an extent, though we're living in grunt-land.  We are ( were ) using the most recent version of ink, and then keeping client emails in their own separate repos on bitbucket.  We generally just branch off any similar emails and start there ( with no intention of merging ).  In any case our build process looks like

[2016-02-22 21:59] gakimball commented on #160
_From @leemunroe on December 19, 2015 15:34_

Great job! To echo @txcbenji would be nice to see more integrations like image CDN/path replacement, send a test email, all those things that fit into the end-to-end workflow. But looking awesome.

[2016-02-22 21:59] gakimball commented on #160
_From @alfatreze on December 21, 2015 16:53_

Looks nice, but I have an issue building the test, where it generates an error in the sass:
Error in plugin 'sass'
Message:
    scss\app.scss
undefined

Although the generated css is fine, it is not copied to the build directory.
I can't seem to figure out the reason, does not seem to be an issue with the paths...

[2016-02-22 21:59] gakimball commented on #160
_From @macbookandrew on December 21, 2015 20:51_

One suggestion: why not have gulp watch the layouts folder for changes, as well as the pages folder?

[2016-02-22 21:59] gakimball commented on #160
_From @kchez on December 21, 2015 21:21_

I vote for @macbookandrew 's suggestion of adding the layouts folder to the default task

[2016-02-22 21:59] gakimball commented on #160
_From @zurbrandon on December 22, 2015 0:0_

This won;t be the final build of Foundation for emails. We've set up the 'test' folder as a temporary home inside our docs repo. Eventually it'll follow a pretty similar pattern as Foundation for Sites does when you spin up a new project.

[2016-02-22 21:59] gakimball commented on #160
_From @travis-zookacreative on January 4, 2016 16:56_

Some clarification on workflow... Sorry if I missed this anywhere but how is one able to switch between pages for live preview? Essentially I would like to have 1 repo for the client and 1 or 2 layouts. Then every new email just create a new email under "pages". When this happens though the only file that gets livereloaded is the index.html fi

[2016-02-22 21:59] gakimball commented on #160
_From @macbookandrew on January 4, 2016 17:3_

@travis-zookacreative Take a look at [this repo](https://github.com/leemunroe/grunt-email-workflow/) for ideas. I see @leemunroe commented above, so I’m hoping he’s thinking about using Foundation for Emails in his Grunt email workflow plugin. :smile:

[2016-02-22 21:59] gakimball commented on #160
_From @travis-zookacreative on January 4, 2016 17:19_

@macbookandrew thanks for sharing, I actually already have my own custom version based off that repo that I have been using for some time. I was hoping the new foundation for emails workflow would replace that entirely.

[2016-02-22 21:59] gakimball commented on #160
_From @tdhartwick on January 5, 2016 19:58_

@txcbenji Thanks for sharing your workflow! Can you elaborate on the character limit issue you were running into? We omitted the minifying the HTML with the understanding that most mailers are alright with larger HTML files. Anybody else running into this?

@macbookandrew and @kchez We'll add the watch task to look at both pages and layouts. Thanks for

[2016-02-22 21:59] gakimball commented on #160
_From @tdhartwick on January 5, 2016 20:3_

@travis-zookacreative To chime in on our question earlier about live reloading, you can update the URL of the BrowserSync server. For instance, we have `index.html` and `basic.html` in our `test/pages` folder. By default BrowserSync will show `index.html` to `localhost:3000`. You can get to `basic.html` by adding the file extension like so: `localhost:30

[2016-02-22 21:59] gakimball commented on #160
_From @txcbenji on January 5, 2016 20:12_

@tdhartwick Sure thing... it was in vertical response, they had a 50k character limit in the custom text editor they use for you to input your code, so with some of our larger and more complicated layouts, after inlining, our email file was ending up over that limit, so we added the minification step in as part of our core build-out, just in case we neede

[2016-02-22 21:59] gakimball commented on #9
This issue was moved to zurb/ink#160

[2016-02-22 21:59] gakimball commented on #160
_From @travis-zookacreative on January 5, 2016 23:25_

@tdhartwick thats it! Not totally sure why that didn't work for me the first few times but I'll give it a go again. Thanks!

[2016-02-22 21:59] gakimball commented on #160
_From @kchez on January 6, 2016 19:48_

@txcbenji, @tdhartwick VR is one of my primary ESP (derp), and I did have to up my limit to 75K and still went over that limit (prior to using this new templating language). So yes, it's a reality some of us have to deal with, but I haven't tried it yet with new and improved version. I'll report back any issues.

[2016-02-22 21:59] gakimball commented on #160
_From @tdhartwick on January 8, 2016 23:28_

Thanks for the feedback @txcbenji. Interested in hearing your feedback!

[2016-02-22 21:59] #9 closed

[2016-02-22 21:59] gakimball opened #161 "Discussion - Sass"
_From @tdhartwick on December 17, 2015 17:28_

We've Sassified our workflow! You can now access all of the mighty powers that Sass offers, including mixins, functions, and variables! We're really looking forward to seeing how people use variables within the new Foundation for Emails. The idea is to update a variable within your `_settings.scss`, such as a primary color, and see your style cascade

[2016-02-22 21:59] gakimball commented on #161
_From @leemunroe on December 19, 2015 15:36_

Looks good. I would expect to use the variables all the time. Just curious why you opted to not inline the CSS in "test" mode?

[2016-02-22 21:59] gakimball commented on #161
_From @macbookandrew on December 21, 2015 20:40_

A couple of questions:
1. What’s the difference and why two `scss` folders? One in the project root and one in `test/`…maybe add some documentation on when to use which.
2. Why not use (external) CSS maps to help when doing major styling?

[2016-02-22 21:59] gakimball commented on #161
_From @tdhartwick on December 21, 2015 23:52_

@leemunroe From our experience, we like to check out our changes in Chrome to get a general idea of how things are going to look when we style it. Inlining also take a little extra time to process. Because of this, we set up our `npm run production` to not watch. Would you expect it to watch after you run `npm run production`?

[2016-02-22 21:59] gakimball commented on #161
_From @tdhartwick on December 21, 2015 23:55_

@macbookandrew Thanks for the feedback!
1. So right now we're using this to build our documentation as well. What people will be getting will be everything in the `test/` folder. The other `scss/` folder in the root is related to the docs, so don't worry about that folder.
2. Good catch, we'll be adding it!

[2016-02-22 21:59] gakimball commented on #161
_From @macbookandrew on December 22, 2015 1:33_

@tdhartwick I’m still a bit confused about the root `scss/` folder, especially as [`test/scss/app.scss`](https://github.com/zurb/foundation-emails/blob/master/test/scss/app.scss#L2) is pulling `scss/ink.scss` for all the components/structure and some base styles.

[2016-02-22 21:59] gakimball commented on #10
This issue was moved to zurb/ink#161

[2016-02-22 21:59] gakimball commented on #161
_From @alfatreze on December 22, 2015 13:40_

@macbookandrew I believe this makes it easier to test and submit pull requests!
For my part I am using the app.scss (not the best naming though!!!, email.scss maybe? I suppose it's a mix of foundation legacy and angular influence) to import the settings, ink and my own sass. If I change anything inside ink it is simpler for sending a pull request with

[2016-02-22 21:59] #10 closed

[2016-02-22 21:59] gakimball opened #162 "Discussion - Panini"
_From @tdhartwick on December 17, 2015 17:36_

In this version of Foundation for Emails we've included [our flat file generator, Panini](https://github.com/zurb/panini). This let's us keep consistent head and footers so that we can just include the body styles and content, making it easy to whip out stylistically similar emails in a synch. We want to know:
1. does Panini make sense in the Foundati

[2016-02-22 21:59] gakimball commented on #162
_From @leemunroe on December 19, 2015 15:25_

Looks good. Currently I'm using Assemble in a similar way.

[2016-02-22 21:59] gakimball commented on #162
_From @alfatreze on December 21, 2015 12:58_

Panini looks like pretty nice so far. Will certainly test it thoroughly.
Why are you having it rebuild automatically in the watch process, opting to having it more static by default?
I seems a pretty nice option especially for editable newsletters where sections will change from number to number.
I'll look into testing it for building emails based on u

[2016-02-22 21:59] gakimball commented on #162
_From @tdhartwick on December 21, 2015 23:40_

@leemunroe Assemble was definitely an inspiration! Happy to hear it's looking pretty good.

@alfatreze One example we see people using it for is the consistent header/footer and injecting the content inside of those partials. This also keeps the body content super clean. Because of this, every time a change is made, we'd want to see it reflected in th

[2016-02-22 21:59] gakimball commented on #162
_From @alfatreze on December 22, 2015 11:54_

@tdhartwick Sorry I wasn't clear, I meant panini is actually not rebuilding the layouts, only the pages. You have to rerun the watch command to compile these. This is what I meant by having the partials static by default. Is there a specific reason these are not always rebuilt along with the pages?

[2016-02-22 21:59] gakimball commented on #162
_From @alfatreze on December 22, 2015 12:2_

Furthermore, what i'd really like to do would be to use the framework in a complete build system integrated into an online editor, where panini (oe an alternative) would take care of a good part of the templating and strutcture. I need to build a functional test version to send to our web team to evaluate.
The idea is to stop using fixed, hand built tem

[2016-02-22 21:59] gakimball commented on #162
_From @alfatreze on December 22, 2015 14:15_

I've been trying to add a gulp.watch to process the layouts, based on the panini documentation (gulp.watch(['./src/{layouts,partials,helpers,data}/*_/_'], [panini.refresh]);) to no avail.
No matter the variation it only compiles it the first time.

I seems panini itself takes the { arguments } and compiles each, but since the gulp functions call a ['pa

[2016-02-22 21:59] gakimball commented on #162
_From @slateb on December 22, 2015 21:0_

@tdhartwick I think this is a great idea for Foundation for Emails. I'm doing the same thing that @alfatreze is to try and get these working.
Not sure I'd be looking for any additional functionality. I think if it an process handlebars helpers and such that would be great.

[2016-02-22 21:59] gakimball commented on #162
@alfatreze Take a look at the Gulpfile for the ZURB Template used by Foundation for Sites. It has a mostly-working implementation of `panini.refresh`.

Here's the rest pages task: https://github.com/zurb/foundation-zurb-template/blob/master/gulpfile.js#L85

And here's the file watcher to run the reset: https://github.com/zurb/foundation-zurb-template/blob/master/gulpfile.js#L169

_Unfortunately_,

[2016-02-22 21:59] gakimball commented on #162
_From @alfatreze on January 5, 2016 16:2_

Why not use dependencies? https://github.com/gulpjs/gulp/blob/master/docs/API.md#deps, or alternatively run-sequence: https://www.npmjs.com/package/run-sequence

[2016-02-22 21:59] gakimball commented on #162
@alfatreze Dependencies run in parallel, which makes some specific things tricky. I'm going to tweak the project template to align closer with what the Sites template. That'll be done today or tomorrow.

[2016-02-22 21:59] gakimball commented on #11
This issue was moved to zurb/ink#162

[2016-02-22 21:59] #11 closed

[2016-02-22 22:02] gakimball commented on #13
To close the loop on this:

- The GCC is required so Node can compile native modules. We use Libsass, a Sass compiler written in C, to compile Sass.
- Node versions as old as 0.12 should work with all of the Foundation templates. I use Node 5.3 and our current build systems are working fine.
- The [final template](https://github.com/zurb/foundation-sites-template) that developers will be using is

[2016-02-22 22:02] #13 closed

[2016-02-22 22:03] gakimball commented on #28
Fixed in the latest version of Inky.

[2016-02-22 22:03] #28 closed

[2016-02-22 22:05] gakimball commented on #29
Could you try setting up our new [template stack](https://github.com/zurb/foundation-emails-template) and see how it works for you? The errors you're getting are related to the Inky dependency not being up to date, and this template has been configured to use the latest version of everything.

It's the same as the one in the `testing/` folder, but standalone.

[2016-02-22 22:05] #29 closed

[2016-02-22 22:09] krypsin commented on #47
Same issue here when I run `foundation watch`
I've installed the babel-core and the babel-es2015 preset and still doesn't work :(

[2016-02-22 22:10] gakimball commented on #47
This is a weird one because it doesn't actually cause Gulp to error out—it just keeps going. We've been quietly ignoring it since it doesn't prevent you from using the template.

A while back [I tried researching this](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=failed+to+load+external+module+babel-core%2Fregister) and it turns out to be a pretty common issue. The

[2016-02-22 22:10] gakimball opened #163 "Test template not working responsively on Edge, Firefox and IE (works fine in Chrome)"
_From @bago on December 18, 2015 18:43_

When I test the bundled template using "npm test" I can see it correctly react to window-width changes only on Chrome while it breaks on Firefox, IE11, Edge 13 (windows 10).
![edge-13-foundemail2](https://cloud.githubusercontent.com/assets/173498/11903978/5dd1a0c2-a5bd-11e5-9fe2-fbf8d667379d.png)

I guess the issue is related to some CSS applying a `display

[2016-02-22 22:10] gakimball commented on #163
_From @akeilox on December 18, 2015 19:23_

I was about to post the same, having npm test launched first on firefox noticed the layout issue on resize, not present in Chrome. IE 11 is the same, not tested on Edge.

[2016-02-22 22:10] gakimball commented on #163
_From @tdhartwick on December 18, 2015 23:14_

We've found that browsers render emails a little wonky sometimes, especially when testing. We've been working on ironing out all of the visual bugs with Litmus tests. You can see the current state of that template here (inlined with `npm run production`): https://litmus.com/checklist/emails/public/753f023

I'm not sure if we'll be able to reconcile th

[2016-02-22 22:10] gakimball commented on #12
This issue was moved to zurb/ink#163

[2016-02-22 22:10] #12 closed

[2016-02-22 22:11] gakimball commented on #22
This issue was moved to zurb/ink#164

[2016-02-22 22:11] gakimball opened #164 "Button radius"
_From @webmasterlpo on December 28, 2015 13:19_

Is it possible to have rounded corner on buttons ?

_Copied from original issue: zurb/foundation-emails#22_

[2016-02-22 22:11] gakimball commented on #164
_From @tdhartwick on January 4, 2016 17:55_

It's possible, but not integrated into Inky yet. We're considering adding in a future release. For the most email client support we have to dig into nasty languages such as `vml`. Bulletproof buttons are a good start for now: https://buttons.cm/

[2016-02-22 22:11] #22 closed

[2016-02-22 22:11] gakimball opened #165 "Centered element non centered on small screen"
_From @webmasterlpo on December 29, 2015 9:50_

Why the centered elements aren't centered on small screen ?

The code I'm using:

[code]

_Copied from original issue: zurb/foundation-emails#25_

[2016-02-22 22:11] gakimball commented on #165
_From @tdhartwick on January 4, 2016 17:46_

Looks like there's an issue with the paragraph respecting it's 100% width when it reaches a small screen. Thanks for pointing this out, we'll take a look at this!

[2016-02-22 22:11] gakimball commented on #165
_From @jordanbommelje on January 11, 2016 20:7_

I seem to be having a similar issue with an image inside.

[code]

[2016-02-22 22:11] gakimball commented on #25
This issue was moved to zurb/ink#165

[2016-02-22 22:11] #25 closed

[2016-02-22 22:11] gakimball opened #166 "Small-12 needs to stack to 100%"
_From @tdhartwick on January 6, 2016 17:33_

In order to have the small grids work, and not automatically stack on small, we needed to remove the `display: block` from the wrapper element. This now makes all of the other small combinations work, i.e. a `small=5` and a `small=7` now work. The problem occurs when we have multiple `small=12`'s that need to stack.

We should either:
- Remove wrapper e

[2016-02-22 22:11] gakimball commented on #27
This issue was moved to zurb/ink#166

[2016-02-22 22:11] #27 closed

[2016-02-22 22:11] gakimball opened #167 ".wrapper distorting column size on small breakpoint"
_From @treechime on February 5, 2016 2:8_

I may be doing something wrong (I've only been playing with this for about an hour) but using the examples given, on mobile, if I have two columns the .wrapper td will distribute it's space evenly, instead of as determined by the column size on the table inside it.

[code]

On desktop the above is fine but on mobile it shows the .wrapper tds as 50% of the

[2016-02-22 22:11] gakimball commented on #32
This issue was moved to zurb/ink#167

[2016-02-22 22:11] #32 closed

[2016-02-22 22:11] gakimball commented on #33
This issue was moved to zurb/ink#168

[2016-02-22 22:11] gakimball opened #168 "Changing $warning-color variable doesn't change color"
_From @rafibomb on February 6, 2016 3:53_

No matter what color I change this setting to in settings.scss, it doesn't change. No errors.

_Copied from original issue: zurb/foundation-emails#33_

[2016-02-22 22:11] #33 closed

[2016-02-22 22:11] gakimball opened #169 "Variable naming needs updates"
_From @rafibomb on February 8, 2016 3:32_

Couple variable might need renaming since the markup has been simplified:

$wrapper-padding-top
$sub-column-padding-right

_Copied from original issue: zurb/foundation-emails#34_

[2016-02-22 22:11] gakimball commented on #34
This issue was moved to zurb/ink#169

[2016-02-22 22:11] #34 closed

[2016-02-22 22:11] gakimball opened #170 "Grid column padding variable does not affect container"
_From @rafibomb on February 8, 2016 3:35_

Trying to space text away from container edge. I expect the column padding to handle the spacing of text from the container edge.

Changing $grid-column-gutter does not affect this.

_Copied from original issue: zurb/foundation-emails#35_

[2016-02-22 22:11] gakimball commented on #170
_From @rafibomb on February 8, 2016 3:36_

Looks like it's defined on the `<th>` at 8px. This needs a setting.

[2016-02-22 22:11] gakimball commented on #170
_From @rafibomb on February 9, 2016 22:30_

Actually, the variable doesn't take effect at all.

[2016-02-22 22:11] gakimball commented on #35
This issue was moved to zurb/ink#170

[2016-02-22 22:11] #35 closed

[2016-02-22 22:11] gakimball opened #171 "Changing $body-font-size does nothing"
_From @rafibomb on February 8, 2016 3:40_

Expected this to change the body font size from 14px.

No effect.

_Copied from original issue: zurb/foundation-emails#36_

[2016-02-22 22:11] gakimball commented on #36
This issue was moved to zurb/ink#171

[2016-02-22 22:11] #36 closed

[2016-02-22 22:12] gakimball opened #172 "Changing $light-gray variable does not change callout background"
_From @rafibomb on February 8, 2016 4:18_

In settings file, the main $light-gray color variable changes nothing in callout. Hard coding a color in the $callout background variable works as expected.

_Copied from original issue: zurb/foundation-emails#37_

[2016-02-22 22:12] gakimball commented on #37
This issue was moved to zurb/ink#172

[2016-02-22 22:12] #37 closed

[2016-02-22 22:12] gakimball opened #173 "$wrapper-padding-top not needed"
_From @rafibomb on February 9, 2016 22:13_

$wrapper-padding-top is actually not needed anymore since a wrapper table is not needed.

_Copied from original issue: zurb/foundation-emails#39_

[2016-02-22 22:12] gakimball commented on #39
This issue was moved to zurb/ink#173

[2016-02-22 22:12] #39 closed

[2016-02-22 22:12] gakimball opened #174 "Changes not taking effect in production"
_From @rafibomb on February 10, 2016 0:18_

Running `npm run production` starts the server and loads the page in browser. Changing CSS does not show until command is run again.

_Copied from original issue: zurb/foundation-emails#40_

[2016-02-22 22:12] gakimball commented on #174
Confirmed to still be happening in the [template repo](https://github.com/zurb/foundation-emails-template).

[2016-02-22 22:12] gakimball commented on #40
This issue was moved to zurb/ink#174

[2016-02-22 22:12] gakimball commented on #174
This is only an issue if we need to be able to live develop with the inliner. Which is to say, you can keep the server running and it inlines every time, versus you running the inlining process once.

@tdhartwick @rafibomb Do we need live watching functionality with the inlining process? With the other frameworks, when you build for production, it's a one-time build.

[2016-02-22 22:12] #40 closed

[2016-02-22 22:12] gakimball opened #175 "Buttons should have a margin bottom"
_From @rafibomb on February 10, 2016 0:59_

This matters on small screens when you expect the buttons to stack. Since there is a touch target, it doesn't make sense to have them stacked up without a space.

_Copied from original issue: zurb/foundation-emails#41_

[2016-02-22 22:12] gakimball commented on #41
This issue was moved to zurb/ink#175

[2016-02-22 22:12] #41 closed

[2016-02-22 22:12] gakimball commented on #45
This issue was moved to zurb/ink#176

[2016-02-22 22:12] gakimball opened #176 "Special characters and nested html tags"
_From @nwerr on February 22, 2016 16:15_

Using special characters with other html tags (span, br, a) inside a component results in an error.

Example:

[code]

Error:

[code]

_Copied from original issue: zurb/foundation-emails#45_

[2016-02-22 22:12] #45 closed

[2016-02-22 22:12] gakimball opened #177 "Project Can't Be Deleted - Node Paths Too Long"
_From @kchez on February 22, 2016 18:51_

Having issues deleting a project folder. I'm getting messages about filename too long or path too long.  This is a huge issue for regular users.  And my solution may not work for others.  **Is there a better way to package your dependencies?**

Installed both ways and got different results:
1. **Using the CLI** = resulted with 21 items in node_modules\

[2016-02-22 22:12] gakimball commented on #46
This issue was moved to zurb/ink#177

[2016-02-22 22:12] #46 closed

[2016-02-22 22:12] gakimball opened #178 "'npm start' error - fails to load 'babel-register'"
_From @kchez on February 22, 2016 20:0_

This may be related to issue #29, but I'm getting the error when building the project and running 'npm start'.

![required-babel-register-failed-to-load](https://cloud.githubusercontent.com/assets/11340351/13230833/f14be480-d974-11e5-844a-25a52fe4105e.png)

_Copied from original issue: zurb/foundation-emails#47_

[2016-02-22 22:12] gakimball commented on #178
_From @krypsin on February 22, 2016 22:9_

Same issue here when I run `foundation watch`
I've installed the babel-core and the babel-es2015 preset and still doesn't work :(

[2016-02-22 22:12] gakimball commented on #178
This is a weird one because it doesn't actually cause Gulp to error out—it just keeps going. We've been quietly ignoring it since it doesn't prevent you from using the template.

A while back [I tried researching this](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=failed+to+load+external+module+babel-core%2Fregister) and it turns out to be a pretty common issue. The

[2016-02-22 22:12] gakimball commented on #47
This issue was moved to zurb/ink#178

[2016-02-22 22:12] #47 closed

[2016-02-22 22:39] gakimball commented on #30
[See the discussion here on this error.](https://github.com/zurb/ink/issues/178#issuecomment-187412382)

We don't have open issue trackers for the templates—instead, we just have folks open issues on the framework itself. Helps us keep things more consolidated.

[2016-02-22 23:04] gakimball commented on #31
Hey friends, to close the loop on this, Foundation for Emails 2.0 is fully Sass powered. You can check out the development branch for it [here](https://github.com/zurb/foundation-emails/tree/v2.0).

We'll have a more formal announcement later in the week on the ZURB blog with a rundown of what's new from version 1.0 to 2.0.

[2016-02-23 10:53] baspetersnl opened #179 "git://github.com/zurb/gulp-inky.git not found"
While testing the working branch in the 2.0 repository. Npm install trows an error. If i look deeper into it the error came from the git://github.com/zurb/gulp-inky.git which can't be found.

[2016-02-23 11:32] Chrysweel opened #180 "It work with gmail ?"
Hello.

I just download this project. And I customized one basic template with one css which I found in tools

But in gmail this email, dont have styles and the content render very bad... Any idea ? This templates works in all client as gmail, hotmail.. etc ?

Thanks in advance !

[2016-02-23 14:36] kchez commented on #175
The margin bottom on buttons should be placed on
`table.button` and not `table.button table` ('button.scss:61' ) because if devs need to add a border bottom, as it stands now, there will be a gap of space above the border.

-- since this is closed, i'm reopening as new issue.

[2016-02-23 14:40] kchez opened #181 "Buttons margin bottom #175"
The margin bottom on buttons that was added from Issue #175, should I think be placed on
`table.button` and not `table.button table` ('button.scss:61' ) because if devs need to add a border bottom, as it stands now, there will be a gap of space above the border.
![buttons-table-button-table](https://cloud.githubusercontent.com/assets/11340351/13254840/46e04d22-da11-11e5-8036-9f786e9da3fe.png)
![bu

[2016-02-23 18:33] jondcallahan commented on #180
You need to inline the styles for them to work in gmail. Consider using http://foundation.zurb.com/emails/inliner.html

[2016-02-23 18:48] gakimball commented on #179
Can you see in the stack trace what library is causing the error? I did a full search for `gulp-inky` in the repository and every dependency and couldn't find it—we got rid of that library months ago.

[2016-02-23 20:22] rafibomb commented on #180
Thanks @jondcallahan !

@Chrysweel We'll close this as inlining will likely solve it for you. If you find any issues let us know!

[2016-02-23 20:22] #180 closed, assigned to nobody

[2016-02-23 23:04] gakimball opened #182 "Audit Sass variable names"
Ensure all Sass variable names match ones in Foundation for Sites, if they exist. This gives us an opening to do a migration tool in the future.

[2016-02-23 23:34] garretthyder opened #183 "Why is the img element default to float: left"
Hello,

I built a template using Zurb Ink that I'm using on Mailchimp, I realized that the align functionality on images within the Mailchimp editor had no affect. Upon inspecting I discovered that images are defaulting to float:left as the Zurb template has this specified in the css. Is there a reason for this? Can I simply drop that css or will that cause issues with the boilerplate?

Thank you

[2016-02-23 23:44] gakimball opened #184 "Clean up foundation.scss"
The main Foundation Sass file has a bunch of leftover testing code that needs to be pruned. https://github.com/zurb/foundation-emails/blob/v2.0/scss/foundation.scss

[2016-02-24 02:36] allenwoot opened #185 "[bug] min-width in center is computed incorrectly"
I ran into this issue. To repro this, change the container width sass variable to 600, and use center.

For the css class `center`, min-width is set to `$width`, but it should be set to `$width - 2*$gutter_size` (unless it's collapsed)

[2016-02-24 02:37] allenwoot opened #186 "[bug] Incorrect computation of td.large-*"
`td.large-*` math seems to be wrong: It also doesn't take into account the `$gutter_size` in computations
- For `center`, I think it should be `($i * ($width - 2*$gutter_size)/$num_columns)`
- For `non-center`, I'm not entirely sure what the intended effect is, but similarly it needs to account for gutters on the containing element

[2016-02-24 15:51] rafibomb opened #187 "Visibility Class naming"
Naming of visibility classes should replicate Foundation for Sites

Currently they are
- .hide-for-small,
- .show-for-desktop
- .show-for-small,
- .hide-for-desktop

Should be
- .hide-for-small-only
- .show-for-small-only

[2016-02-24 16:36] rafibomb opened #188 "[Inky] Callouts are not defined for td's"
Looking into Inky - couldn't find where a callout was applied to a td. In the CSS, the .callout class is explicitly set on td's

Tried:
`<columns small="12" large="12" class="callout">`

[2016-02-24 16:58] rafibomb opened #189 "[Inky] menu has no mapping for vertical orientation"
`<table class="menu vertical">`

works but not in Inky

`<menu class="vertical">`

[2016-02-24 19:04] rafibomb opened #190 "[Inky] <center> tags need to add class and attribute to child elements"
Wrapping an element in a center tag should output the align attribute and class as well.

[code]

Expected output

[code]

These extra methods ensure cross client compatibility.

[2016-02-24 20:48] marcusmoore commented on #171
(At least in Chrome) the `font-size` is compiled to `12px` no matter what `$body-font-size` is set to. I'm starting to dive in to see where this is coming from...

[2016-02-24 21:51] gakimball commented on #188
It applies to the top-level `<th>` of the column.

[code]

[code]

[2016-02-24 21:58] gakimball commented on #190
We don't have a custom tag for `<center>`. @tdhartwick thoughts?

One consideration is what happens if you put multiple things inside of a `<center>` tag (I don't know if this is valid syntax or not):

[code]

Do we apply the class `.center` and the attribute `align="center"` to every sub-element?

[2016-02-24 21:59] #189 closed, assigned to nobody

[2016-02-25 00:00] rafibomb commented on #190
This could be handled in the documentation. The `<center>` tag wrapped around an element should add the attributes to the one element it's wrapped around

or

someone can add the .center class and Inky will wrap the element in `<center>` tags and add the align attribute.

[2016-02-25 00:02] rafibomb commented on #188
We need a markup example in Inky for adding a callout. What would that be?

[2016-02-25 01:04] gakimball commented on #188
Let's ask @tdhartwick

[2016-02-25 02:14] allenwoot opened #191 "[bug] 12 column row not rendering correctly in gmail"
Code for repro

[code]

`box-sizing` does not work consistently across clients. However, `td` elements with `columns large-12 small-12 first last`, for example, require that the client accepts box-sizing. otherwise the padding leaks outside of the element, causing rendering issues in gmail.
Possible resolution: Instead of setting width `($i*100/$num-cols)%`, account for gutters. So again, somethin

[2016-02-25 10:46] timaschew opened #192 "[question] How to handle all email templates in a big company in different languages and different email management services?"
We have approximately 100 templates.
Of course many of them are not really necessary if we would use partials, but this is the step we want to go now. And foundation-emails, especially the new version looks awesome for this use case!

There are some other parts which I want to ask for best practice:
Imagine your company have at least 3 departments: marketing, customer support, sales.
Each of the d

[2016-02-25 12:19] hansspiess opened #193 "Enable Partials being compiled by Inky in Foundation for Emails Template"
By moving `.pipe(inky())` past `.pipe(panini())` in the pages() function in gulpfile.babel.js in the _Foundation for Emails Template_ Inky compiling of partials would be enabled i guess.

[2016-02-25 14:17] moteey commented on #185
Also declaration for `th` seems to be missing, causing `th` columns with nested `center` tag to always be 580px wide.

**_grids.scss: line 110**
`@for $i from 1 through $grid-column-count {
  td.large-#{$i} center {
    min-width: -zf-grid-calc-px($i, $grid-column-count, $container-width);
  }
}`

[2016-02-26 00:18] gakimball commented on #193
Does it work without any errors? If not, we can make fixes to Inky to compensate.

[2016-02-26 01:14] jacobjpope opened #194 "[Feature] Button component compiling into bulletproof button"
Would be great if Inky compiled the buttons into Campaign Monitor's bulletproof buttons (within a div and had the sibling vml code alongside it).  I could take a stab at a PR, but it might be a bit beyond me.  I guess the hard part is inlining the class styles into the vml.

[2016-02-26 07:47] hansspiess commented on #193
the only error (which is not related to the issue i guess) is that special characters like ä, ö etc. (and sadly, also when html-escaped) throw the following error:

[code]

[2016-02-26 11:57] hansspiess commented on #193
i cant reproduce the [described error](https://github.com/zurb/foundation-emails/issues/193#issuecomment-189151162) in a fresh [foundation-cli installation of the template](https://github.com/zurb/foundation-emails-template#using-the-cli).

[edit] i have, however, reproduced the error: it happens when a special char is followed by an <a> tag without any other tag between. as in:
`Sie können diesen

[2016-02-26 21:30] gakimball commented on #193
For the special character thing, can you give me a small sample piece of markup to test so we can maybe put together a fix?

[2016-02-26 23:28] rafibomb commented on #194
I think we are doing something like this already - @tdhartwick can you shed some light on how buttons are generated?

[2016-02-27 00:00] jacobjpope commented on #194
When I ran the foundation build the output file only had the table html, I didn't see any VML code alongside it.  Unless I am using the wrong command or looking at the wrong output file.

[2016-02-27 00:18] jacobjpope opened #195 "[bug] Break tags moved around"
This happens when I place a `<br>` tag between a closing `</columns>` and `</row>`.  It is moved above the opening `<table class="row">` in the `<td>` parent element.  Weirdly enough, this doesn't occur when placed between the closing `</row>` and `</container>`.

[2016-02-27 09:49] hansspiess commented on #193
modified pages() function in `gulpfile.babel.js`:

[code]

`/src/layouts/default.html`

[code]

`/src/partials/footer.unsubscribe.html`

[code]

the `ö` char in the partial causes the error. when appearing behind a html tag on the same line, the error does not show up. must be something with inky and char encoding i guess.

[2016-02-29 04:34] JulesWebb opened #196 "Suggestion to make background color work in Yahoo mail"
Hello

I realize that Yahoo is not on your list of supported clients, but thought this easy to implement tidbit would be worth taking note of.

In order to force a background color in yahoo mail, it needs to be applied to the table class="body" element.

I successfully tested adding background: #mycolor to .body. ---I did NOT remove the background color from the body element.

QUESTION: Why isn't

[2016-02-29 04:35] JulesWebb opened #197 "Updating $header-font-family global variable has no effect"
RE: src/assets/scss/_settings.scss section 10. Typography
Updating $header-font-family has no effect. The $global-font-family variable is used instead.

I forced changes using the app.scss file. Just thought the feedback might be helpful
## My system details

OS: Windows 7 Pro
using Windows Shell and Foundation CLI

You guys are doing a stellar job of streaming the creation of email templates. Tha

[2016-02-29 17:28] jacobjpope commented on #196
I believe they are still cleaning up the sass, as is referenced in this issue https://github.com/zurb/foundation-emails/issues/184

Background color is in that file right now, so hopefully we will see it moved into the settings.scss

[2016-02-29 17:38] JulesWebb commented on #196
Thanks Jacob ;)

[2016-02-29 18:07] gakimball commented on #195
Can you post a full code sample to help us recreate it?

[2016-02-29 18:09] gakimball commented on #194
We haven't converted to bulletproof buttons yet, but I believe we've looked into it.

[2016-02-29 18:26] jacobjpope commented on #195
In /pages/index.html

[code]

This may be a browser specific bug and might not carry over to the emails.  In Firefox and Chrome they both move the `<br>` tag but the compiled code has it in the correct spot.

[2016-02-29 19:53] aacase opened #198 "npm install fails for v2"
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
npm ERR! node v5.7.0
npm ERR! npm  v3.6.0

npm ERR! No compatible version found: inky@^1.0.0
npm ERR! Valid install targets:
npm ERR! 1.0.0-rc.4, 1.0.0-rc.3, 1.0.0-rc.2, 1.0.0-rc.1, 0.4.0, 0.3.0, 0.2.0, 0.1.0, 0.0.1

[2016-02-29 23:17] gakimball commented on #198
Run `npm install inky` and it should install fine now. The new version didn't properly publish the first time.

[2016-02-29 23:17] #198 closed, assigned to nobody

[2016-03-01 12:06] leolopes opened #199 "Can't run build"
I tried to run both `npm start` and `npm run build` and ran into problema with, probably, Gulp.
I attached the log for `npm run build`.
[npm-debug.log.txt](https://github.com/zurb/foundation-emails/files/152705/npm-debug.log.txt)

[2016-03-01 17:10] gakimball commented on #199
Did you get an error in your console? `npm-debug.log` files don't always show a full stack trace, so we can't really see what's happening.

[2016-03-01 17:52] rafibomb commented on #197
Thanks for the props Jules! Looking into this one, I see the setting is set up correctly

[code]

But the `$header-font-family: $global-font-family !default;` didn't have the default flag.

[2016-03-01 17:53] rafibomb commented on #197
This fixes it https://github.com/zurb/foundation-emails/commit/0f72b0973101b81b0ed0019d2f92c2900bd4ba1f

[2016-03-01 17:53] #197 closed, assigned to nobody

[2016-03-01 17:58] rafibomb commented on #192
That's a lot of templates!

You may be best off managing the templates in a single project on GitHub. Each department can have it's headers and footers that they'd re-use in HTML partials.

How are you language templates generated. If they are static translated version, then you can make each language a separate partial as well then just include the language you need.

Does that make sense/help?

[2016-03-01 18:01] JulesWebb commented on #197
Thanks Rafi!

[2016-03-01 18:09] rafibomb commented on #191
Thanks Allen - we'll test this out.

We'd love to avoid adding an extra table if possible.

[2016-03-01 18:42] rafibomb commented on #191
@tdhartwick Did you see any issues like this in testing?

[2016-03-01 19:04] rafibomb commented on #196
The question is, should there be a variable for a body background color?

It sounds good to us - we'll consider this a feature request!

[2016-03-01 20:40] JulesWebb commented on #196
@rafibomb --Yay ;)

What about including the background color on the body class as well as the body element?

[2016-03-02 00:34] rafibomb opened #200 "offsets not being applied"
Using this markup in Inky
`<columns small="12" large="8" class="large-offset-4">`

The class is applied but style is overwritten by column padding.

[2016-03-02 01:06] tazzydemon opened #201 "Gmail Performance"
Sirs,

I have just tried the new demo template in 2.0 RC2, sending it using the Foundation for Emails own inlined build and sent as html in Putsmail (in case you imagine I got that wrong). Sadly, it still does not work responsively in the ubiquitous Gmail app.

For my last project I was forced to shift to a combination of  http://webdesign.tutsplus.com/tutorials/creating-a-future-proof-responsive-

[2016-03-02 11:34] timaschew commented on #192
Yes that sounds good, I already started with an own GitHub repo and panini and add i18n into it. It works very well! I'm now working on a preview feature. I will show you when it's done.

[2016-03-02 12:29] lurnid opened #202 "Contribution guidelines need updating for v2.0"
The [contribution guidelines](https://github.com/zurb/foundation-emails/blob/v2.0/CONTRIBUTING.md) need to be updated for version 2.0 to reflect the use of gulp instead of grunt.

[2016-03-02 12:37] kevin-coyle commented on #177
I think this is a common windows issue with npm, not specifically foundation emails. I believe it's been fixed in npm 3. See here for more details. https://github.com/nodejs/node-v0.x-archive/issues/6960

[2016-03-02 15:43] JayBizzle commented on #195
@jacobjpope You wouldn't do this though would you? It's invalid markup

[code]

[2016-03-02 16:36] gakimball commented on #195
@JayBizzle Yeah, if it's invalid markup then some browsers might handle it differently, in which case there's not much we can do about it.

Maybe @tdhartwick can chime in on a better way to create vertical space between elements. I'm guessing that's what you're trying to do?

[2016-03-02 17:28] gakimball commented on #177
Yeah, unfortunately it's not something we can fix. We're using Node and npm the exact same way everyone else does, and npm has its share of quirks.

[2016-03-02 17:28] #177 closed, assigned to nobody

[2016-03-02 18:48] gakimball commented on #193
I was able to narrow this down to the use of special characters inside of an Inky-specific tag. This HTML creates the error:

[code]

You can replace `<container>` with any Inky tag and it will still break the same way. Looking into it!

[2016-03-02 19:09] gakimball commented on #193
Fixed via zurb/inky@10393e0d6be7568f73e70448a0ee19d36b6a2eb0

We have a few more fixes to bring in before we patch Inky, but you can get the fix now by setting the version of `inky` to `master` in your `package.json`.

[2016-03-02 19:09] #193 closed, assigned to nobody

[2016-03-02 20:08] hansspiess commented on #193
thanks for the quick help! however, i don't know how to update inky in my project to the fixed version, could you please be more specific?

[2016-03-02 20:12] paxperscientiam opened #204 "With OWA signature in mind."
Hello y'all,

After much research, I have come to understand the Microsoft Exchange (OWA) limits signatures to 8096 bytes (at least in its latest iteration). Why? I have no idea, but it is what it is; signatures must obey this rule.

To this end, I think it would be very helpful to have a mode(?) that caters to OWA and it's mysterious byte size limitation for signatures. Use-case is to help develo

[2016-03-02 21:17] gakimball commented on #193
The `package.json` in your project has a list of every version of every library you're using, including Inky, the latest version of which is `1.0.0`. I won't be releasing a `1.0.1` until we get a few more fixes in.

If you need the fix now, it's possible to pull a Node library straight from GitHub. I also just realized the instructions I gave you are slightly inaccurate, so here's the right way to

[2016-03-02 22:01] hansspiess commented on #193
works! thanks again @gakimball !

[2016-03-02 22:12] tazzydemon commented on #201
Looks like I missed this in v1.x:

http://foundation.zurb.com/emails/docs.html#gmail

But I was hoping that would be obsolete in 2.x

[2016-03-03 00:12] gakimball commented on #202
Yep, that appears to be boilerplate from another project.

[2016-03-03 17:59] rafibomb opened #205 "Buttons are huge"
The buttons are huge and oddly shaped. Should have more side padding.

![screen shot 2016-02-24 at 10 52 38 am](https://cloud.githubusercontent.com/assets/5652085/13503882/9327b2c6-e126-11e5-9ba8-92b21ef6038e.png)

[2016-03-03 19:11] rafibomb commented on #181
Yes, looks like with the new markup the margin should be on the outer table.

[2016-03-03 19:13] rafibomb commented on #183
Are you using version 1 (ink) for Foundation for Emails 2.0 RC?

[2016-03-03 19:50] garretthyder commented on #183
Hi @rafibomb I'm using Ink v1.0.5

[2016-03-03 19:50] rafibomb commented on #191
@allenwoot We tested some templates with the new grid markup. What email clients are you seeing issues on?

We tested all Gmail, yahoo, ofice365, android, ios, outlook and outlook.com

[2016-03-03 19:51] rafibomb commented on #192
Awesome!

[2016-03-03 19:51] #192 closed, assigned to nobody

[2016-03-03 19:52] rafibomb commented on #194
We're using another method similar to the bulletproof buttons that should work on Outlook without VML. We'll get @tdhartwick to comment on it.

[2016-03-03 19:53] #175 closed, assigned to nobody

[2016-03-03 19:53] rafibomb commented on #175
New issue opened https://github.com/zurb/foundation-emails/issues/181

[2016-03-03 19:55] rafibomb commented on #174
It would be better to have this run all the time - but only be used when debugging and testing for production.

[2016-03-03 19:58] rafibomb commented on #167
@treechime There is no longer a .wrapped need for the new markup. I didn't see where you're using it?

[2016-03-03 19:59] rafibomb commented on #166
@tdhartwick Is this solved for already?

[2016-03-03 20:12] jacobjpope commented on #196
Background color (and background images if possible) support would be very useful! +1 to this request.

[2016-03-03 20:18] JulesWebb commented on #196
I think it will be a long time before email clients support the use of background images, but it would be nice ;)

[2016-03-03 21:54] jacobjpope commented on #196
Campaign Monitor's bulletproof backgrounds work pretty well with fallbacks for those clients that don't https://backgrounds.cm/

[2016-03-03 23:20] JulesWebb commented on #196
I'm impressed! Thanks for the info and link.

[2016-03-04 17:23] gakimball commented on #200
Fixed via fb5e796f23455aac1e03ad9c281f5dc8a0148c8a

[2016-03-04 17:23] #200 closed, assigned to gakimball

[2016-03-04 17:46] gakimball commented on #190
Merged zurb/inky#11 and zurb/inky#12

Shipped in Inky 1.1.0.

[2016-03-04 17:46] #190 closed, assigned to nobody

[2016-03-04 17:50] rafibomb commented on #205
https://github.com/zurb/foundation-emails/commit/953c6b9ffadb7ac800207c17c93e36061ba55d0f

[2016-03-04 17:50] #205 closed, assigned to nobody

[2016-03-04 18:10] rafibomb commented on #188
[code]

or

[code]

Output:

[code]

[2016-03-04 18:28] gakimball opened #206 "Create $global-breakpoint variable"
Create a `$global-breakpoint` variable to define the threshold between small and large, instead of using range variables.

[2016-03-04 18:35] rafibomb commented on #187
just pushed up some changes https://github.com/zurb/foundation-emails/commit/f14e62d3b83b79d7f6e6c4246e5bb07fdfd850e4

[2016-03-04 18:42] rafibomb commented on #184
done

[2016-03-04 18:46] #184 closed, assigned to tdhartwick

[2016-03-04 18:58] gakimball commented on #188
Implemented via zurb/inky@41b17c292949208508e596eebbc991d45c85711e

Deployed in Inky 1.2.0.

[2016-03-04 18:58] #188 closed, assigned to gakimball

[2016-03-04 19:21] rafibomb opened #207 "[Inky] Block-grid classes not compiled into html"
Doing this `<block-grid up="3" class="float-center">`

outputs `<table class="block-grid up-3">`

should be `<table class="block-grid up-3 float-center">`

[2016-03-04 19:41] allenwoot commented on #191
@rafibomb I'm seeing this specifically on the android gmail app (using litmus) using the first version of the RC.

Let me know if you'd like specific repro steps.

[2016-03-04 19:42] #207 closed, assigned to nobody

[2016-03-04 19:56] jacobjpope commented on #195
@JayBizzle very good point, if it's invalid markup then this is irrelevant.  Closing the issue!

[2016-03-04 19:56] #195 closed, assigned to nobody

[2016-03-04 21:48] rafibomb opened #208 "Add in extra typography styles"
Blockquote
cite
list styles
- dl
- ul (no bullet)

code styles
kbd

[2016-03-04 22:09] rafibomb commented on #196
So we did this:

`$body-background-color: $light-gray;`

It applies body, table.body (some clients strip out the body tag), and the html tag.

[2016-03-04 22:11] rafibomb commented on #196
Done: https://github.com/zurb/foundation-emails/commit/ad98f78cdf0a5de27b085efaddba6ea6d5fd71bf

Thanks for the report!

And @jacobjpope  That's a great reference!

[2016-03-04 22:11] #196 closed, assigned to nobody

[2016-03-04 22:19] rafibomb commented on #204
Hi
I'm not sure what you're referring to in context of an email framework. What changes are you looking for in the framework that would address this? Thanks!

[2016-03-04 23:55] rafibomb opened #209 "[SCSS] move _media-query into component partials"
We need all the media query stuff move into each component or global. The media queries need to be at the bottom of each component file.

[2016-03-05 03:01] paxperscientiam commented on #204
Hi @rafibomb !

Just to quickly clarify the above, the limitation is even tighter than I first realized: the 8096bytes is the allowable size for the HTML signature + plain text.

In the context of an email framework, businesses that use OWA/Exchange server could employ foundation-emails to design corporate-approved employee signatures. An administrator could "install" a single design to be applied

[2016-03-06 23:46] rickysullivan opened #210 "Missing dollar sign from variable."
https://github.com/zurb/foundation-emails/blob/v2.0/scss/components/_button.scss#L75

Missing $

Should read:

`font-family: $body-font-family;`

[2016-03-07 17:42] gakimball commented on #210
Fixed via ea180d86201efdbe6049621cb13c8389a7082677

[2016-03-07 17:42] #210 closed, assigned to nobody

[2016-03-07 17:57] gakimball commented on #206
3b33a8c918da47e4aa16c22e91177bd37a7f566c

[2016-03-07 17:57] #206 closed, assigned to gakimball

[2016-03-07 17:59] gakimball opened #211 "Move variables out of Normalize"
The Normalize file has three required variables:
- `$hr-background`
- `$hr-height`
- `$paragraph-margin-bottom`

These are typography styles, so they should be in the typography file. @rafibomb is it possible to move some of the `p` and `hr` styles into `_type.scss` without breaking anything?

[2016-03-07 18:00] gakimball commented on #187
Looks correct! :)

[2016-03-07 18:00] #187 closed, assigned to nobody

[2016-03-07 18:17] gakimball commented on #202
16915b6c6bbfdff7f06d771484fb9c648a3a4907

[2016-03-07 18:17] #202 closed, assigned to nobody

[2016-03-07 18:18] gakimball commented on #176
Fixed in the latest version of Inky.

[2016-03-07 18:18] #176 closed, assigned to nobody

[2016-03-07 18:54] gakimball commented on #201
This might be because our template was injecting CSS into a `<style>` tag in the `<head>`, and some email clients strip the `<head>` from an email.

I made some refinements to the template, which you can see here: zurb/foundation-emails-template@241cfac452ff342cc7ceb79f776bbd3d7a4c7333

Note in `src/templates/default.html`, there's a commented-out `<style>` tag at the top of the `<body>`. This is

[2016-03-07 18:57] gakimball commented on #208
Let's decide if we want to hold them off for post 2.0.

[2016-03-07 21:57] rafibomb commented on #194
Talked to @tdhartwick - We are using a version of bulletproof buttons that doesn't require the VML. It's #4 here: https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design It introduces an extra layer for tables but requires no VML and works on all the supported clients.

We'd love to hear more about your experience with buttons either using border, padding or the "bulletproof" method

[2016-03-07 22:07] gakimball opened #212 "No .primary class for callouts"
The `.primary` class should borrow from the `$primary-color`.

[2016-03-07 22:08] gakimball opened #213 "Callout backgrounds should be lightened"
In Foundation for Sites, callout background colors are much lighter versions of the actual colors. Using the default colors, the backgrounds are too bright and make the text hard to read.

[2016-03-07 22:11] rafibomb opened #214 "[Button] Border-radius CSS needs to be added"
A variable exists. It needs to be applied on the `.radius` class or the `.rounded` class. The border and the `a` needs to get the radius when the classes are applied.

$button-radius: $global-radius !default;

[2016-03-07 22:20] gakimball opened #215 "Callouts need a bottom margin"

[2016-03-07 22:35] gakimball commented on #212
95667dba3ed225c3a849fa2afbec75e0f4f1a214

[2016-03-07 22:35] #212 closed, assigned to nobody

[2016-03-07 22:35] gakimball commented on #213
95667dba3ed225c3a849fa2afbec75e0f4f1a214

[2016-03-07 22:35] #213 closed, assigned to nobody

[2016-03-07 22:36] gakimball opened #216 "Callouts with little content don't stretch full width"
If a callout has just a few words in it, the box will only be as wide as its contents. @rafibomb @tdhartwick does this matter?

[2016-03-07 22:37] rafibomb commented on #182
Done https://github.com/zurb/foundation-emails/commit/21cf921fc10874ebf98fa1de32842f3f8ec29b09

[2016-03-07 22:37] #182 closed, assigned to nobody

[2016-03-07 22:43] rafibomb commented on #171
Fixed - now `$global-font-size` is the typeography variable we're using

[2016-03-07 22:43] #171 closed, assigned to nobody

[2016-03-07 22:44] rafibomb commented on #170
Fixed! New variable is `$global-gutter`

[2016-03-07 22:44] #170 closed, assigned to nobody

[2016-03-07 22:46] rafibomb commented on #169
Done and removed unneeded variable
https://github.com/zurb/foundation-emails/commit/7139a1513bd7793c3e0977faeb73c085e3ba01d9

[2016-03-07 22:46] #169 closed, assigned to nobody

[2016-03-07 22:52] rafibomb commented on #168
Fixed!

[2016-03-07 22:52] #168 closed, assigned to nobody

[2016-03-07 22:57] tazzydemon commented on #201
Thank you for your attention. I did build and try the change but its still the same. This is not too much of a surprise given that, as far as I can determine, the Gmail app still does not support media queries. This then means "Gmail Responsive" technique which I mentioned. None of this would matter if it weren't for the fact that the Gmail app is everywhere. I use it myself.  If I am furnished wi

[2016-03-07 23:26] rafibomb opened #217 "[Block-grid] Does not work in Outlook or Android Native."
Does not wrap

![screen shot 2016-03-07 at 3 25 51 pm](https://cloud.githubusercontent.com/assets/5652085/13586912/f0058d06-e478-11e5-8ade-1960090c60dc.png)
![screen shot 2016-03-07 at 3 25 35 pm](https://cloud.githubusercontent.com/assets/5652085/13586911/f0054724-e478-11e5-8561-357a32ddc1c6.png)

[2016-03-07 23:34] rafibomb commented on #217
![screen shot 2016-03-07 at 3 33 25 pm](https://cloud.githubusercontent.com/assets/5652085/13587042/188ff9fe-e47a-11e5-8af1-bb1075c22e12.png)

[2016-03-07 23:41] gakimball opened #218 "[SCSS] Consolidate normalize, media query, and outlook-first files"
The file `_outlook-first.scss` has just one rule—can it be moved into global or normalize? @rafibomb

[2016-03-07 23:42] gakimball commented on #217
Let me know if compressing the whitespace on the inlined email fixes this.

[2016-03-07 23:49] gakimball opened #219 "Finish Thumbnail CSS"

[2016-03-07 23:49] rafibomb commented on #217
I'm seeing multiple issues but removing whitespace fixes one of them :)

[2016-03-07 23:50] rafibomb opened #220 "[Thumbnail] complete thumbnail styles"
Some of the thumbnail styles and settings need to be completed.

[2016-03-08 00:15] jacobjpope commented on #194
Thanks for the link @rafibomb!  Great reading, and if there is no VML required and it is giving consistent results across all the supported clients then I am happy to use it.  I only have experience with using the bulletproof buttons for the past few years because it was a solution I found and it worked across the clients I needed.  I'm going to be writing a few templates with the v2.0 RC soon so

[2016-03-08 05:29] rafibomb commented on #219
closing for #220

[2016-03-08 05:29] #219 closed, assigned to rafibomb

[2016-03-08 09:09] germanftorres opened #221 "Escaping handlebars expressions that need to be present in output or disabling handlebars at the page level"
Hi!

We are using the handlebars feature of Mandrill to send templates for our transactional email. The templates we upload to mandrill include {{handlebars}} expressions and we would like to be able to generate this templates with foundation for emails.

The problem is that panini compiles all handlebars expressions in our pages that it sees so we don't have a way to produce an output template wi

[2016-03-08 09:45] germanftorres commented on #221
This would be my proposed solution with a frontmatter block. Just read first the frontmatter block and compile the template or just output the template body as is.

panini-> render.js

[code]

[2016-03-08 15:20] rafibomb commented on #218
It could be a reset file or global. I say we re-name the _normalize file to a _reset.scss and move it there.

[2016-03-08 15:26] rafibomb commented on #221
It could be useful in the use case you provided. Are you getting the other benefits of the stack and have your own handlebars solution?

[2016-03-08 15:49] germanftorres commented on #221
yes, with this hack in place I still can get the benefit of inky() that translates the grid, I still get the layouts, although helpers included in the page template will not be included.

[2016-03-08 16:54] gakimball commented on #218
"Global" and "normalize" have a lot of weird overlap as well. In Sites, Normalize is a CSS library we pull in, and global is our core styles.

In Emails, I'm guessing we wrote both, so I don't fully understand what CSS should go in one or the other.

[2016-03-08 17:15] gakimball commented on #221
You can create a raw Handlebars helper, which ignores any parsing inside of it.

Create the file `src/helpers/raw.js` with this function:

[code]

Then call it with four curly braces:

[code]

This has the benefit of letting you mix Handlebars/not-Handlebars on one page.

[2016-03-08 22:27] gakimball commented on #174
Made some changes to the template that resolve this: 8b7ee9efa79b8b13ccdc325bf81b4e0181eaaeea

One issue is that the `inline` task in the Gulpfile would only run once, right when you hit `npm run build`. However, when files change, only the `pages` task would run, not the `inline` task after.

Another issue is that Sass changes would not re-run the inlining process—remember that even if the page d

[2016-03-08 22:27] #174 closed, assigned to nobody

[2016-03-08 22:48] gakimball commented on #201
Could you post an HTML example so we can see which components you're using?

[2016-03-09 00:38] tazzydemon commented on #201
Its the vanilla one straight from the Zurb box. This is the base page and then the compiled and inline version...

I'm well aware of the fact that there is no block-grid in use and that is the key to using F. Emails V1.x

If you use the inlined version in a mail you should find that it is not responsive in Gmail. If that is not the case and it works for you then I will be both profusely apologetic

[2016-03-09 01:50] billyboozer opened #223 "$container-background-colo undefined"
# Looks like there's a missing variable in the _grid.scss file ($container-background-color).

[code]

I created a pull request https://github.com/zurb/foundation-emails/pull/222

[2016-03-09 17:55] Nikkiez opened #224 "anchor tag removes paragraph margin (Outlook)"
Margin on a paragraph is removed or ignored if I insert an anchor tag inside it. Error occurs only in builded version and some Outlook versions. (for example 2007)

Example HTML:

[code]

Example CSS:

[code]

Outlook 2003: http://postimg.org/image/6vefno9ez/
Outlook 2007: http://postimg.org/image/wnuhxkgsr/

I changed the following in the _types.scss to fix it.

Original:

[code]

Changed:

[code

[2016-03-09 18:38] gakimball commented on #179
Closing due to lack of activity. The [starter template](https://github.com/zurb/foundation-emails-template) has seen a lot of refinement in the past week or so. If you run into any more issues, let us know :)

[2016-03-09 18:38] #179 closed, assigned to nobody

[2016-03-09 18:39] gakimball commented on #178
We don't believe this error will prevent people from using Gulp, but if your build process is crashing, let us know. :)

[2016-03-09 18:39] #178 closed, assigned to nobody

[2016-03-09 18:40] gakimball commented on #172
Gray callouts now pull from `$secondary-color`, consistent with Foundation for Sites.

[2016-03-09 18:40] #172 closed, assigned to nobody

[2016-03-09 18:41] gakimball commented on #173
Looks like `$wrapper-padding-top` has been removed.

[2016-03-09 18:41] #173 closed, assigned to nobody

[2016-03-09 18:42] gakimball commented on #164
Closing in favor of #214

[2016-03-09 18:42] #164 closed, assigned to nobody

[2016-03-09 20:37] kball commented on #185
I've fixed the th issue from @moteey in https://github.com/zurb/foundation-emails/commit/33e6c0b94d9343e106f5d8c142d30376059dfe15

I'm not seeing the issue from @allenwoot so I'm not sure if that was already addressed or I'm just missing something.  @tdhartwick @gakimball do you know?  Alternatively, @allenwoot can you try with the v2.0 branch and see if you're still seeing the issue?  Please note

[2016-03-09 20:52] kball commented on #181
fixed in https://github.com/zurb/foundation-emails/commit/fcd3040fedbca6a66fcd59cc9e1b2de3bf47abed

[2016-03-09 20:52] #181 closed, assigned to kball

[2016-03-09 21:42] kball opened #226 "success button doesn't have a hover state"
All of the other button types appear to change color on hover, but success does not.

[2016-03-09 21:46] #165 closed, assigned to kball

[2016-03-09 22:23] kball commented on #191
@allenwoot I'm trying to work on this right now and I'm not seeing any obvious emails in the android gmail app on litmus.  See below:

<img width="361" alt="grid_test_-_litmus_builder" src="https://cloud.githubusercontent.com/assets/44007/13652660/46620a0a-e602-11e5-8f95-0ebe0be453e2.png">

This is using the code

[code]

I am working off of the latest v2.0 branch rather than the first RC, so that

[2016-03-09 22:27] rafibomb commented on #191
I can't replicate it right now. Perhaps we resolved in a previous commit. We'll close this now, please open a new issue if you see this happening so we can address it. Thanks!

[2016-03-09 22:27] #191 closed, assigned to nobody

[2016-03-09 22:27] kball commented on #186
Yeah, the math in here is odd, I agree, and definitely appears to be off.  The odd thing is it looks like we used to be accounting for gutters, but it changed it in this commit:  https://github.com/zurb/foundation-emails/commit/28cd0f86c16c29b468cb1e169548711468dc253d

@tdhartwick do you remember what that commit was fixing?  Am I likely to break something if I re-insert gutters into the computati

[2016-03-09 22:29] kball commented on #216
Hmmm... what is our expected behavior?  Based on the behavior in foundation for sites, I'd expect them to go full width regardless, no?

[2016-03-09 22:32] rafibomb commented on #217
Block-grid will now be part of main grid with Inky syntax. Closing this.

[2016-03-09 22:32] #217 closed, assigned to nobody

[2016-03-09 22:33] kball commented on #224
Hmm... I'm not sure getting rid of the default margin on `a` tags is the right approach, because that seems like it might have a bunch of other possible side effects... lmc if I can track down what's happening in outlook.

[2016-03-09 22:56] gakimball commented on #216
Yes, that's the intended behavior.

[2016-03-09 22:58] kball commented on #224
Upon digging into this, I believe this is actually simply a practice that does not have good cross-email-client.  Margins are completely ignored in outlook.com (https://www.campaignmonitor.com/blog/email-marketing/2013/01/outlook-com-drops-margin-and-float-support-entirely/) and padding and margins are both weird in paragraphs for outlook 2007 & 2010 (https://www.emailonacid.com/blog/article/email

[2016-03-09 22:58] #224 closed, assigned to kball

[2016-03-09 23:07] kball commented on #216
ok I'll take a look

[2016-03-09 23:48] kball commented on #216
@gakimball i'm not seeing this behavior, at least when a callout is inside columns it appears to expand appropriately.  I've added a set of test cases in 'grid-with-callouts-inky.html' and things appear to be all the right size... was there another case you were seeing problems with?  I'm going to close this tentatively assuming it has been fixed or was an error, but please reopen if you have a te

[2016-03-09 23:48] #216 closed, assigned to kball

[2016-03-09 23:50] kball opened #227 "Callout styles broken in Outlook (2007, 2010, 2013)"
Alert info etc seems to be gone.  See:

<img width="991" alt="outlook_2007_-_litmus_builder" src="https://cloud.githubusercontent.com/assets/44007/13654690/950c78a0-e60e-11e5-9964-94c87d424d64.png">

Interestingly, things work in outlook 2002, 2011, and 2016.

[2016-03-09 23:51] kball opened #228 "Callout borders wonky in android gmail app"
See below:

<img width="363" alt="gmail_app__android__-_litmus_builder" src="https://cloud.githubusercontent.com/assets/44007/13654731/ce902bc6-e60e-11e5-9b6d-13880f773e2e.png">

[2016-03-10 00:01] gakimball commented on #216
@kball Yep, you're right. The reason I noticed this is because in the documentation, the code sample has `<callout>` standalone. But in any situation you'll have content inside of a column, making this issue moot.

[2016-03-10 00:29] kball commented on #227
Fixed in eafaa7c

[2016-03-10 00:29] #227 closed, assigned to nobody

[2016-03-10 00:31] gakimball opened #229 "Expanded button visual bugs"
[Litmus test.](https://litmus.com/builder/documents/493848/edit#start-test)
- ~~In Outlook 2007, 2010, and 2013, buttons don't expand at all.~~
- In Gmail and Google Apps, the padding, text color, and text decoration is wrong.
- ~~In Office 365 and Outlook.com, the _first_ button will be correct, but if you place more expanded buttons below it, those won't be expanded. @rafibomb suggested an `.exp

[2016-03-10 01:33] kball commented on #186
I tried implementing the math as described above, and it doesn't quite work out either, so lets see how this logic makes sense... Our current function looks like this:

[code]

Or using the math in the issue report

[code]

Both the current version and the one in the issue report appear to make the numbers too big, with browsers then compensating in different ways.  So lets think about what this n

[2016-03-10 01:53] gakimball opened #230 "Grid inside callout breaks out in Gmail for Android"
When a grid is placed inside a callout inside a grid, in Gmail for Android, the second column breaks out of the callout. [Here's a Litmus test.](https://litmus.com/builder/documents/493944/edit)

[code]

[2016-03-10 09:35] Nikkiez commented on #224
Yes maybe that's the better way to deal with it. But it's unusual that an anchor with margin 0 inside a paragraph removes the paragraph margin. I will try your solution. But one more question: Whats the best practices for text with a button between (With space between texts and button.)?

Example:

[code]

And still the setting "$paragraph-margin-bottom" is ignored in the builded version.
Builded

[2016-03-10 19:34] gakimball opened #231 "Menu links are not blue in Office 365/Outlook.com"
[Litmus test.](https://litmus.com/builder/documents/497062/edit#start-test)

In Office 365 and Outlook.com (all browsers), menu links are black, instead of blue.

[2016-03-10 23:41] gakimball opened #232 "Vertical menus don't work in some clients"
[Litmus test.](https://litmus.com/builder/documents/497965/edit#start-test) In these clients, menus with the class `.vertical` appear horizontal instead:
- Outlook (2000, 2002, 2003, 2007, 2010, 2013)
- AOL Mail
- Office 365
- Outlook.com

[2016-03-10 23:45] gakimball opened #233 "Tone down padding of menu?"
Menus feel a little big right now, especially vertical ones. Here's an example from one of our templates—note how much vertical space the menu on the right takes up.

![image](https://cloud.githubusercontent.com/assets/1142001/13688486/21486766-e6d7-11e5-94db-e4531b38ce3b.png)

Unlike the menu in Foundation for Sites, this menu will never be used for "navigation" per se, more for lists of links. T

[2016-03-10 23:46] gakimball commented on #233
One way to approach it would be to take the padding on `.simple` and use that as the default, and then drop `.simple`.

[2016-03-10 23:47] gakimball commented on #228
I've been seeing this too, and I was wondering if it's a scaling issue. Gmail isn't responsive so it's trying to cram the full layout into a small screen. Hard to say without having a way to inspect it, though.

[2016-03-11 00:04] gakimball commented on #223
Fixed via #222

[2016-03-11 00:04] #223 closed, assigned to nobody

[2016-03-11 00:11] gakimball commented on #226
None of them will change on hover once you've inlined it, as pseudo-classes can't be inlined into a `style` attribute. This might not be something we address right away, but in theory we could inline `:hover`, `:active`, et al. styles into the `<style>` tag as part of the inlining process.

[2016-03-11 00:13] gakimball commented on #226
Either way, t'was a mere typo preventing the hover state from applying.

[2016-03-11 00:13] #226 closed, assigned to rafibomb

[2016-03-11 01:26] allenwoot opened #234 "[bug] Width not updating after setting SASS variable"
With the latest code in the v2.0 branch, when I change `$global_width` from `580px` to `600px` in scss/settings/_settings.scss, `test/visual/assets/css/foundation.css` doesn't change. I had run `npm start`, which does pick up the change.

This was working before RC 2.0.

Am I doing something wrong with the setup?

[2016-03-11 01:30] allenwoot commented on #234
Don't think it's related, but I had to modify the backticks to single quotes to get npm build to work (it was complaining about the backtick being an illegal token).
https://github.com/zurb/foundation-emails/blob/v2.0/gulpfile.js#L138

[2016-03-11 05:07] rizkysyazuli opened #235 "How to use the included Grunt tasks"
Hey all. My first time using this. A bit unclear with the included Grunt tasks and how to use it in my own workflow.

At a glance, it seems to be used for development of the framework itself and not for general users. If this is the case, is there a documentation/recommendation for users using Grunt/Gulp?

[2016-03-11 17:29] gakimball commented on #234
Whoops! I had some ES6 code in the Gulpfile even though it's not a Babel Gulpfile. Error didn't crop up for me because I'm on Node 5. I replaced the backticks with single quotes, so it'll work now.

As for the test suite, the commands were reworked to be consistent with [Foundation for Sites's test suite](https://github.com/zurb/foundation-sites/wiki/Testing-Guide).

To compile the documentation,

[2016-03-11 17:29] #234 closed, assigned to nobody

[2016-03-11 19:13] allenwoot commented on #234
@gakimball thanks for making the change, and I also realized that I ought to have been modifying _global.scss, not _settings.scss.

[2016-03-11 22:36] allenwoot commented on #185
@kball I got the latest code from the v2.0 branch, and am still seeing the issue. Seems like the problem is that `min-width` for `center` and `th.large-N center` are not calculated correctly.

Repro steps
1 Change `$global-width` to 600px
2 Compile CSS
3 Render the following HTML:

[code]

The container will turn out to be 616px instead of 600px. They key here is the CSS for <center>, which is set

[2016-03-11 22:57] kball commented on #232
So... outlook does not respect display:block, which is the trick being used for this... from what I can see, the way to get vertical alignment is actually a structural change using tables for menu elements rather than just tds, so this change is going to need to happen in inky, and for the html version we'll need to document the difference.

[2016-03-12 00:12] allenwoot opened #237 "[bug] 12 column row not rendering in gmail app (android)"
Same issue as https://github.com/zurb/foundation-emails/issues/191 (See details for more reasons why it happened and the workaround) after getting the latest code from the v2.0 branch.

Repro steps that I followed.
1 Change $global-width to 600px
2 Compile CSS
3 Set min-width for `td.large-12 center` and `center` to 568px. (See https://github.com/zurb/foundation-emails/issues/185#issuecomment-1888

[2016-03-12 01:09] gakimball commented on #234
Yes, the settings file is just for us to drop into the external template. If you're testing the framework itself, just modify the main variables in the framework files.

[2016-03-12 01:12] kball commented on #232
Fixed with https://github.com/zurb/inky/commit/8b040fe1221f9003c27d3025549504e6ff8f0c8f and https://github.com/zurb/foundation-emails/commit/f81aa6b789a3a72e4fc88dcc24e750690de29360

[2016-03-12 01:12] #232 closed, assigned to kball

[2016-03-12 01:20] gakimball commented on #230
Fixed via 54d8575546e239863b49715690400995f3555a03

[2016-03-12 01:20] #230 closed, assigned to nobody

[2016-03-13 00:44] billyboozer commented on #223
Awesome. Thanks! :+1:

[2016-03-14 06:18] rafibomb commented on #233
Perhaps the menu would be useful if each item was equal width, like columns without a sizing class. It would make it easier to align the menu in center of the container.

[2016-03-14 06:20] rafibomb opened #238 "[Inky] <center> tags around .menu should add attributes"
It would be useful to be able to wrap the menu component with `<center>` tags so that the `align="center"` attribute is added. This would allow centering the menu easily given the width is reduced from 100%.

[2016-03-14 12:00] atahrijouti opened #239 "content eventually breaks the grid"
Hi,

if you put content that is bigger than the column's width, the content eventually breaks the grid layout.
here is one such example http://jsbin.com/gocafucale/1/edit?css,output
I am able to make columns stay in place using table-layout: fixed, which according to https://www.campaignmonitor.com/css/b/ should be supported everywhere.

What do you think ? is this way of doing it correct ?

[2016-03-14 16:03] gakimball commented on #235
Are you referring to [foundation-emails-template](https://github.com/zurb/foundation-emails-template)?

[2016-03-14 17:14] gakimball opened #240 "Inky versioning"
I was thinking recently how we want to handle Inky versioning. Inky is currently following semver (as all of our projects do), but I wonder if it will become a hassle to keep Foundation for Emails versions in sync with Inky versions.

For example, right now Inky 1.2.x is slightly out of sync with RC3 of the framework, because we've been making changes to the framework and Inky in tandem. So as we

[2016-03-14 17:15] rafibomb opened #241 "[Inky] .menu should use th's"
`.menu` should use th's instead of td's to be responsive on andorid.

After testing with th's - looks good on all clients.

[2016-03-14 17:25] kball commented on #240
I'd rather not have to bump inky if nothing has changed, instead can we move to being 100% explicit about inky version in the F4E package.json?

[2016-03-14 18:14] gakimball commented on #240
The dependency is going to be managed in the starter template ([foundation-emails-template](https://github.com/zurb/foundation-emails-template)), not the framework itself. Even if the framework had an inky dependency, with the way npm works, you wouldn't be able to make one package dictate a top-level dependency. Otherwise that would be the ideal solution.

We could also consider just keeping the

[2016-03-14 18:19] kball commented on #240
I'd love it if we could find a way to allow users to only have to think about one thing, even if they're not starting from the emails template... otherwise no matter what we do folks will get confused.  Can we force inky to depend on F4E or vice versa?  Or write a wrapper package?

[2016-03-14 18:20] gakimball commented on #240
I'll look into it.

[2016-03-15 00:00] gakimball commented on #239
Need @tdhartwick to chime in on this.

[2016-03-15 18:15] gakimball commented on #241
From what I can tell, in some Outlook versions the menu items are equal-width.

[2016-03-15 19:33] markholmes opened #242 "Elements within curly braces are removed"
I'm not exactly sure when or where this occurs yet, but I've noticed that if there is any information between curly braces, such as `{hello}`, it is stripped out and removed in the `dist/index.html` file on save. Is this an intended behavior, or a side effect of something that I'm unaware of?

[2016-03-15 23:58] rafibomb commented on #242
Are you using `npm run build`? Or are you seeing them removed in the dist file when running `npm start`?

[2016-03-16 00:00] rafibomb commented on #205
Also, make sure you have an `href` in the button.

[2016-03-16 00:02] rafibomb commented on #242
Perhaps it's related to https://github.com/zurb/foundation-emails/issues/221 and this one has a solution.

[2016-03-16 00:04] rafibomb commented on #241
That seems to be a different issue all-together. This is just going to help Android responsiveness.

[2016-03-16 05:34] rafibomb opened #243 "[Grid] collapse class cascades to nested grid"
Adding .collapse to a row removes padding from all columns within it.

Expected behavior, only collapse the first child. @tdhartwick @gakimball What are your thoughts?

The use case is a collapsed row acting as a wrapper with a background, and nested grids within.

[2016-03-16 11:39] petereberlecom opened #244 "template not responsive on iphone 6"
I was testing the Sidebar template.
I copied the template from http://foundation.zurb.com/emails/email-templates.html then i run it trough the Inliner and send it with thunderbird.

it works on tunderbird but not on iphone 6 mail, outlook and blackberry?

[2016-03-16 13:06] Nikkiez opened #245 "Grid does not work as expected (small != 12)"
The grid does not work as expected. If I use a less number then 12 for small view, the columns still collapse as 12. The following example is from the offical foundation for emails/inky templates. (https://github.com/zurb/foundation-emails/tree/v2.0/test/visual/pages)

Example HTML:

[code]

Desktop view (large):
![Desktop view (large)](http://s10.postimg.org/42zp7vowp/Fire_Shot_Screen_Capture_135

[2016-03-16 13:59] #244 closed, assigned to nobody

[2016-03-16 14:28] rafibomb commented on #245
Hmmm, we can't replicate this behavior

<img width="430" alt="screen shot 2016-03-16 at 7 25 22 am" src="https://cloud.githubusercontent.com/assets/5652085/13815571/5585cc92-eb48-11e5-918a-07a96e3f1182.png">

To make sure you are using the latest build, you can update you package.json file to grab the latest code on v2.0

`"foundation-emails": "zurb/foundation-emails#v2.0"`

And make sure you have

[2016-03-16 14:40] rafibomb commented on #204
Wouldn't stripping out the classes and id's make debugging very difficult? It might be an interesting option for the inliner. The inliner is using the latest build from Premailer. If you use the inliner there it has those options http://premailer.dialect.ca/

[2016-03-16 14:43] rafibomb commented on #208
Ok, we'll add this to the roadmap since some of these will require cross client compatibility.

[2016-03-16 14:46] rafibomb opened #246 "[Inky] Remove .expander from images too small"
If a column is less than full-width (12 columns), do not build .expander with Inky.

On Outlook 2000, 2002, 2003 images are shrunk due to .expander constraining image width.

Reference https://github.com/zurb/foundation-emails/issues/50

[2016-03-16 14:52] Nikkiez commented on #245
I'm up to date. ;)
I found out that the behavior only occurs if I dont inline the css "npm start" instead of "npm run build".
I don't know if this is a use case for someone or for you.

Thanks for the fast reply.

[2016-03-16 14:53] rafibomb opened #247 "[Inky] Menu updates"
Todo:
- [x] add `<th>` tags to CSS so it is responsive in Android 4.4 - Resolves https://github.com/zurb/foundation-emails/issues/241
- [x] remove padding, padding-right if needed (styled like simple inline list) - Resolves https://github.com/zurb/foundation-emails/issues/233
- [x] get rid of simple class
- [x] Menu links not blue in Outlook - Resolves https://github.com/zurb/foundation-emails/iss

[2016-03-16 14:58] rafibomb commented on #235
The https://github.com/zurb/foundation-emails-template will provide the Sass version of the framework. It uses a Gulp build system to watch sass changes, handlebars template, compress images, compile the Inky markup, and inline CSS.

If you use the Sass version, this is the Stack you get.

[2016-03-16 14:59] rafibomb commented on #235
Let us know if more questions come up! The [Foundation forum](http://foundation.zurb.com/forum/) would be a great place to chat about the new features!

[2016-03-16 14:59] #235 closed, assigned to nobody

[2016-03-16 15:00] rafibomb commented on #221
@germanftorres How did this work out for you?

[2016-03-16 15:02] rafibomb commented on #209
Closing for https://github.com/zurb/foundation-emails/issues/218

[2016-03-16 15:02] #209 closed, assigned to nobody

[2016-03-16 15:06] markholmes commented on #242
@rafibomb They are removed whether I use `npm run build` or `npm start`. I tried @gakimball's suggestion in #221 but it didn't work for me -- it's possible that I misunderstood the instructions, though.

[2016-03-16 15:40] rafibomb commented on #166
This has been resolved.

[2016-03-16 15:40] #166 closed, assigned to nobody

[2016-03-16 15:54] rafibomb commented on #11
Resolved in v2.0 using padding/border hybrid method
number 4 here: https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design

[2016-03-16 16:00] rafibomb commented on #245
That's weird, seems to work both inlined and not. Since this grid has been through some extensive testing, we can't treat it as framework bug. Thanks for the report!

[2016-03-16 16:00] #245 closed, assigned to nobody

[2016-03-16 16:02] rafibomb commented on #211
done!

[2016-03-16 16:02] #211 closed, assigned to nobody

[2016-03-16 16:06] gakimball commented on #242
Closing in favor of #221. I'll test the solution I put together there and see what the problem is.

[2016-03-16 16:06] #242 closed, assigned to nobody

[2016-03-16 16:06] gakimball commented on #221
@germanftorres @markholmes I'll implement this solution myself and see what the problem is.

[2016-03-16 16:07] gakimball commented on #243
Haven't looked at the CSS, but might be fixable by adding `>` in the CSS, to scope the collapse.

[2016-03-16 16:08] rafibomb commented on #218
The _normalize file needs some work. It came from https://github.com/zurb/foundation-emails/issues/68 which links to an extensive reset method. It might be a reset file with comments that should not be compiled.

[2016-03-16 16:45] rafibomb commented on #243
Thanks @gakimball got it https://github.com/zurb/foundation-emails/commit/333300c771d22855549bae6a72f91044347cded5

[2016-03-16 16:45] #243 closed, assigned to nobody

[2016-03-16 16:48] gakimball commented on #218
Ah okay, I didn't know the normalize file came from an external source. (https://github.com/seanpowell/Email-Boilerplate)

In that case, we can leave the files as-is.

[2016-03-16 17:32] rafibomb opened #248 "[Inliner] add options to remove classed and id's"
This option exists in Premailer. Add checkboxes to flag these options.

Remove id's
Remove unused classes

http://premailer.dialect.ca/

reference https://github.com/zurb/foundation-emails/issues/204

[2016-03-16 17:33] rafibomb commented on #204
We'll close this here as Premailer has a solution for it. We added this to a milestone for a later release: https://github.com/zurb/foundation-emails/issues/248

[2016-03-16 17:33] #204 closed, assigned to nobody

[2016-03-16 18:09] rafibomb commented on #241
Closing in favor of https://github.com/zurb/foundation-emails/issues/247

[2016-03-16 18:09] #241 closed, assigned to nobody

[2016-03-16 18:09] rafibomb commented on #233
Closing for https://github.com/zurb/foundation-emails/issues/247

[2016-03-16 18:09] #233 closed, assigned to nobody

[2016-03-16 18:11] rafibomb commented on #231
Closing for https://github.com/zurb/foundation-emails/issues/247

[2016-03-16 18:11] #231 closed, assigned to nobody

[2016-03-16 18:14] rafibomb commented on #238
We'll close in favor of https://github.com/zurb/foundation-emails/issues/247

[2016-03-16 18:14] #238 closed, assigned to nobody

[2016-03-16 18:38] rafibomb commented on #237
We'll be running through our QA so we'll add a visual test for this today. Then we can replicate it. Thanks!

[2016-03-16 18:40] rafibomb commented on #229
Is button-expanded the visual test for this?

[2016-03-16 18:52] paxperscientiam commented on #204
@rafibomb good to see it becoming a feature for the next milestone.

[2016-03-16 19:10] gakimball commented on #229
@rafibomb Yep

[2016-03-16 20:18] allenwoot commented on #237
@rafibomb great, keep me posted :smile:

[2016-03-16 20:42] rafibomb commented on #229
Added expander to each button.

Fixes `Outlook 2007, 2010, and 2013, buttons don't expand at all.` and `Office 365 and Outlook.com, the first button will be correct, but if you place more  the middle expanded button is too wide :/`

Remaining issues:
- In Gmail and Google Apps, the padding, text color, and text decoration is wrong.
- In Outlook 2007, 2010, and 2013, buttons don't have vertical spa

[2016-03-16 20:44] gakimball commented on #229
@rafibomb Nice!!

[2016-03-16 22:44] gakimball opened #249 "[Block grid] Remove"
Following an internal discussion, the block grid is being removed from the framework. This is because it doesn't work if you try to create multiple rows of items.

Instead, we're going to add a shortcut to the `<row>` tag in Inky to apply classes for you.

[code]

[2016-03-17 00:47] andrewscofield opened #250 "Smarty"
I work regularly with a system that used Smarty templating engine to process emails.

Is there a way to wrap everything inside the `<style></style>` with `{literal}{/literal}` so that smarty stops freaking out about the use of curly brackets? Is there a hook in gulp or somewhere I could write this functionality? Thanks!

[2016-03-17 01:51] rickysullivan commented on #243
I was having an issue with this.

I wanted a collapsible row so I could insert two columns without padding.

[code]

Expected:

![expected](https://cloud.githubusercontent.com/assets/437480/13833797/27adeea8-ec3d-11e5-91dc-6d03441df5de.png)

I think it should be like this:

[code]

[2016-03-17 18:15] rafibomb commented on #199
We'll need more info to help you with this. We'll close this issue, you can open a new if your still having issues with this. Thanks!

[2016-03-17 18:15] #199 closed, assigned to nobody

[2016-03-17 18:15] #194 closed, assigned to nobody

[2016-03-17 18:17] tdhartwick commented on #247
Fixed the CSS and HTML for menus. Here are the significant changes that will effect Inky @kball:
- Needs another `<table>` so that padding is respected.
- Classes are updated. We now include `.menu-item`.

These changes are reflected in the new `menu.html` in the testbed. Simple menus are now obsolete!

We still need to optimize the CSS, but it works as expected in all email clients!

[2016-03-17 18:17] rafibomb commented on #250
There is a similar question here with a solution: https://github.com/zurb/foundation-emails/issues/221 Let us know if that helps!

[2016-03-17 18:20] gakimball commented on #249
Removed the docs page.

[2016-03-17 18:25] gakimball opened #251 "Update alignment docs page"
The docs page for [alignment](https://github.com/zurb/foundation-emails/blob/v2.0/docs/pages/alignment.md) needs to be updated with more accurate code examples.

@rafibomb Are you able to tackle this today or tomorrow?

[2016-03-17 19:18] funcion opened #252 "Gmail does not display any template style"
I am sending an email with Codeigniter 3 configurations'm doing for the mailings in HTML format, here the configuration code.

**Mail settings:**

[code]

**Controller:**

[code]

**View - Default email template Foundation:**

[code]

[2016-03-17 19:57] markholmes opened #253 "Where does the template generate from?"
Let's say I make changes to `/src/assets/scss/app.scss` and then run `foundation new --framework emails`, should the changes made in the app.scss file be reflected in the css for the new project folder? That doesn't appear to be working, and as such, I'm confused as to what the `/src/` folder is for. Can anyone shine some light? Perhaps I'm going about this wrong. I have some default styles and pa

[2016-03-17 22:51] tazzydemon commented on #252
You have not inlined the styles. Easy to forget but it must be done. This is sometimes call Emogrifier and that might be used by codeigniter

[2016-03-17 22:56] tazzydemon commented on #249
This makes my issue #201 even more important in that case, because IIUIC block grids were the only recommended way to get responsive reflow in the Gmail app

[2016-03-17 23:06] funcion commented on #252
Hello! I have a question, what you're wanting me to say is that styles must be on a single line?

Please can you give me an example of **Emogrifier**, it would be very helpful for those who do not know that.

**Note: *_It is possible to do this without applying *_Emogrifier**?

[2016-03-17 23:33] alex-ketch commented on #243
I also agree with @rickysullivan method.
`>` only works on _direct_ descendants, so there is never a match with the current selector.

The tests, screenshot attached below, also show no difference between a collapsed row and a non-collapsed row.

![screen shot 2016-03-17 at 7 23 05 pm](https://cloud.githubusercontent.com/assets/1646307/13864325/e1af444e-ec76-11e5-94c9-d689395d6b05.png)

[2016-03-17 23:49] hedberg opened #255 "Full width row in F4E 2.0"
Is it possible to achieve a full width row in F4E 2.0?  (Similar to swapping the .row and .container classes in F4E1)

[2016-03-17 23:49] rickysullivan commented on #243
Much better @alex-ketch. But I think you still need the direct selector...

[code]

[2016-03-18 00:01] rickysullivan commented on #243
I'm still trying to figure out the _media-query.scss change required for mobile version.

[2016-03-18 00:32] tazzydemon commented on #252
There are various inlining tools available. Foundation for Emails 2 has one baked into its build process. There are convenient online ones  you can try. Just paste your code into them. http://templates.mailchimp.com/resources/inline-css/
or
http://foundation.zurb.com/emails/inliner.html

When you have run it you will see that the styles at the top are distributed through the code as inline style t

[2016-03-18 01:15] funcion commented on #252
Excellent, thank you very much, was a big help your support, have a great day, very grateful for your help. Blessings!

[2016-03-18 01:33] alex-ketch commented on #243
Sorry, I misunderstood you previously.
I believe the code in question is around [highlighted here](https://github.com/zurb/foundation-emails/blob/v2.0/scss/components/_media-query.scss#L42-L49).

Is this what you're trying to do @rickysullivan?

[code]

Seems like an ugly solutions, the intent is to add back the column padding only to the first descendant columns of a `.collapse`d row.

I can inco

[2016-03-18 01:42] rickysullivan commented on #243
Check this: https://github.com/rickysullivan/foundation-emails/blob/v2.0/scss/components/_media-query.scss#L23-L49

Check out my PR #257

[2016-03-18 01:57] tazzydemon commented on #252
Glad to be of service - from down under in NZ!!

[2016-03-18 05:31] rafibomb commented on #251
I'm on it!

[2016-03-18 05:32] rafibomb commented on #252
@tazzydemon Thanks for assist! Gmail strips all styles in the head - an inliner will therefor solve this problem.

[2016-03-18 05:32] #252 closed, assigned to nobody

[2016-03-18 05:33] rafibomb commented on #255
Are you trying to a make a fluid width header or background?

[2016-03-18 05:36] rafibomb opened #258 "[Grid] Collapse does not work on small"
Looks like a specificity issue

<img width="978" alt="screen shot 2016-03-17 at 10 35 22 pm" src="https://cloud.githubusercontent.com/assets/5652085/13869331/a174b8c2-ec90-11e5-8a59-1840bc306bab.png">

[2016-03-18 10:11] hedberg commented on #255
Yes, a fluid width header.

[2016-03-18 11:20] funcion commented on #252
@rafibomb - Thank you very much for your contribution, But, What it means is that the **Emogrifier** solves the whole problem? What happens to **Media Queries**, as we make Gmail respect the media queries in the **< head >**,  or we have to put after the **< body >**?

[2016-03-18 11:22] timaschew opened #259 "[2.0] inline css doesn't work in foundation-email-templates, but here it's working"
Cloned a fresh copy of **foundation-email-templates** and run `PRODUCTION=1 npm start`. I even add a console.log in the `inliner` function.

Result is that `` is not replaced. It's still there.

I tried to copy the gulp parts from this repo, unfortunately with gulp 3, so I needed to refactor some other parts and there it works fine to inline the the css

[2016-03-18 19:07] andrewscofield commented on #250
That link you sent for sure lead me in the right direction. Here is what I ended up with, it works!

Please let me know if there is a better way!

[code]

[2016-03-18 20:40] alex-ketch commented on #258
I ventured at a [possible solution yesterday](https://github.com/zurb/foundation-emails/issues/243#issuecomment-198153909)

The intent is to add back the column padding only to the first descendant columns of a `.collapse`d row.
Probably would also have to repeat the [styling for the first and last columns](https://github.com/zurb/foundation-emails/blob/v2.0/scss/grid/_grid.scss#L103-L109) from th

[2016-03-18 22:10] rafibomb commented on #253
The purpose of the `src` folder is to contain all your working files. The `dist' folder is where all the compiled assets go:
- flattened HTML files with handlebars parsed
- compiled CSS
- optimized images

[2016-03-18 22:11] rafibomb commented on #253
Maybe @gakimball can comment on the best way to do that.

[2016-03-21 04:02] rafibomb opened #262 "[Docs] Sticky sidebar needs to stop before footer"
Needs to add a wrapper to anchor to body only.

[2016-03-21 05:30] rafibomb opened #263 "[Docs] Clicking the Inky code toggle causes page to jump"
All but the first toggle do this:

![gjetyxkkvm](https://cloud.githubusercontent.com/assets/5652085/13911252/64b615e0-eeeb-11e5-937c-b82b7672dede.gif)

[2016-03-21 05:59] rafibomb opened #264 "[Docs] Some examples not indenting properly"
<img width="792" alt="screen shot 2016-03-20 at 10 55 54 pm" src="https://cloud.githubusercontent.com/assets/5652085/13911530/0a84e822-eeef-11e5-8260-6d200ec25022.png">

Seen on:
- button
- global
- grid

[2016-03-21 06:00] rafibomb opened #265 "[Inky] Buttons doubling the button class"
<img width="792" alt="screen shot 2016-03-20 at 10 55 54 pm" src="https://cloud.githubusercontent.com/assets/5652085/13911569/75af0092-eeef-11e5-93f4-9baff4beb7c2.png">

[2016-03-21 06:00] rafibomb commented on #264
This could be the Inky formatting.

[2016-03-21 06:01] rafibomb commented on #250
Nice - that looks right!

[2016-03-21 06:01] #250 closed, assigned to nobody

[2016-03-21 06:03] #221 closed, assigned to gakimball

[2016-03-21 17:01] rafibomb commented on #258
I think this was resolved here by your PR https://github.com/zurb/foundation-emails/commit/892a444f12ab9321431e44180456d65695ef8904 Thanks! If you see any more issues with it, a PR would really help!

[2016-03-21 17:04] rafibomb commented on #258
Targeting this for infinite nesting is not a use case we're going after since it would likely be an extreme edge case.

[2016-03-21 17:07] #258 closed, assigned to nobody

[2016-03-21 18:07] rafibomb commented on #218
Merging into global and attributing this reset.

[2016-03-21 18:19] rafibomb commented on #251
done

[2016-03-21 18:19] #251 closed, assigned to rafibomb

[2016-03-21 18:45] gakimball commented on #247
`<center>` and `<menu>` fixes implemented via zurb/inky@97fde356d79602e3c8ac9789d3d081df18e6b9eb

[2016-03-21 20:00] gakimball commented on #246
Implemented via zurb/inky@8bf3618e2e7202f24490d6225548fbd016473139

[2016-03-21 20:00] #246 closed, assigned to gakimball

[2016-03-21 20:01] gakimball commented on #249
Passing assignment to @rafibomb, as we're going to keep it but explain the caveats.

[2016-03-21 20:02] gakimball commented on #159
This has been implemented in the latest version of Inky.

[2016-03-21 20:02] #159 closed, assigned to nobody

[2016-03-21 20:04] gakimball commented on #265
Not seeing this in the tests, I'll update foundation-docs with the latest version of Inky and see if it's still happening.

[2016-03-21 20:12] gakimball commented on #265
Updated foundation-docs and everything looks chill. Run `npm update` inside the foundation-emails repo to pull a newer version.

![screen shot 2016-03-21 at 1 11 53 pm](https://cloud.githubusercontent.com/assets/1142001/13932677/869eec24-ef66-11e5-8163-9341fd8dd6a9.png)

[2016-03-21 20:12] #265 closed, assigned to gakimball

[2016-03-21 20:29] gakimball commented on #263
Fixed via 02999ef3e4eec3e9e65c7f69a9236dddcd159f04

[2016-03-21 20:29] #263 closed, assigned to gakimball

[2016-03-21 20:42] gakimball commented on #264
Fixed via zurb/foundation-docs@8846fd4de19ac0ea478220cfcbc29fa61757683a

[2016-03-21 20:42] #264 closed, assigned to gakimball

[2016-03-21 20:42] gakimball commented on #247
All Inky updates are in 1.2.6. Passing assignment to @tdhartwick  for the last menu issue.

[2016-03-21 20:54] gakimball commented on #262
Seems to work for me. Is there a specific page you see it on?

![screen shot 2016-03-21 at 1 54 12 pm](https://cloud.githubusercontent.com/assets/1142001/13933869/73634a46-ef6c-11e5-88ae-12cbe9ecc252.png)

[2016-03-21 20:59] gakimball commented on #259
Inlining only happens when you do `npm run build`. Our starter projects have two modes: development and production. `npm start` always runs development mode, while `npm run build` always runs production mode.

[2016-03-21 20:59] #259 closed, assigned to nobody

[2016-03-21 21:59] rafibomb opened #266 "[Docs] Complete tips and tricks page"
After launch
- content before design
- Design for the lowest common denominator first. Outlook
- common patterns

Before launch
- Images
- CSS
- inlining
- Progressive Enhancement

[2016-03-21 22:06] rafibomb commented on #262
Looks good! Closing

[2016-03-21 22:06] #262 closed, assigned to gakimball

[2016-03-21 22:07] gakimball commented on #240
I updated Inky to have an explicit `foundation-emails` dependency. However, depending on how we configure the `package.json` in foundation-emails-template, we're going to get different results in loading the framework.

We could expose _only_ the inky dependency in `package.json`:

[code]

inky will load foundation-emails, and from there I believe we can properly load Foundation into the Sass comp

[2016-03-21 22:16] rafibomb commented on #215
done

[2016-03-21 22:16] #215 closed, assigned to rafibomb

[2016-03-21 22:17] kball commented on #240
I think we need to have only one dependency...  I wonder if this is a naming problem as much as anything?  What if inky was foundation-emails and foundation-emails got renamed to foundation-emails-runtime?  Or if we want to keep inky separate, what if  we 'foundation-emails' was simply a wrapper that contained inky and foundation-emails-runtime?

[2016-03-21 23:46] kball commented on #185
Fixed in https://github.com/zurb/foundation-emails/commit/e0b3601db75dec8c7e277aab5e94a47f91c1a9b8

[2016-03-21 23:46] #185 closed, assigned to kball

[2016-03-22 17:32] bahamagician opened #267 "Handlebars in Ver. 2?"
Hi,

I'm beta testing Ver. 2.  Is it possible to use handlebars in the new version?  For example, once I get a template created, it would be great if I could just populate it via a YML file.  Is that currently possible?

[2016-03-22 19:20] GBratsos opened #268 "Foundation Emails v1 not going mobile"
Hello,

I am using Ink v1 and after i parse my email with the inliner i see on mobile it's not working as it should. Elements stay side by side on a six column grid (x2) and etc.

Here is my code:

`<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
   <meta http-equiv="Content-Type" cont

[2016-03-22 19:29] gakimball commented on #267
If you're using the [template project](https://github.com/zurb/foundation-emails-template), you can populate content with external JSON or YML files. The [Foundation for Sites docs for Panini](http://foundation.zurb.com/sites/docs/panini.html#custom-data) cover this (it's the same library).

It only lets you generate page content programmatically, but you can't generate actual pages from data.

[2016-03-22 20:17] gakimball commented on #229
Buttons still don't expand in Outlook 2007. Litmus test: https://litmus.com/builder/documents/493210/edit

[2016-03-22 20:58] rafibomb commented on #247
@gakimball Can you help with the last item?

[2016-03-22 22:02] rafibomb commented on #255
Yes, it works the same way. If you wrap a table or a row around the container, you can do this. You might need to override the background of the container.

[2016-03-22 22:02] #255 closed, assigned to nobody

[2016-03-22 23:02] gakimball commented on #247
Updates to `<center>` and `<item>` via zurb/inky@f25859c3dc0612231687458885d578f5e3893b4a

[2016-03-23 02:03] tdhartwick commented on #229
Fixed in d2d38ba9feb795718227f1a9b4d9b134ef7fc2e0

[2016-03-23 02:03] #229 closed, assigned to tdhartwick

[2016-03-23 02:18] wssrstrm commented on #160
@gakimball and @tdhartwick: Wanted to chime in here, as I am deeply, deeply interested in this workflow and have been using it since practically the day you made it available.

The workflow is amazing and I have used it to very, very quickly integrate Foundation for Emails into my projects without straying from your provided gulpfile.

Inky is terrific so far, does what we need it to do basically

[2016-03-23 02:22] tdhartwick commented on #247
Fixed somehow :+1:

[2016-03-23 02:22] #247 closed, assigned to tdhartwick

[2016-03-23 02:27] tdhartwick commented on #239
Hi @abderrahmane-tj,
Sorry for the delayed response. I'm having trouble understanding what you're trying to achieve here. Can you elaborate a little bit on the syntax you're using?

[2016-03-23 02:42] tdhartwick commented on #237
@allenwoot

Sorry for chiming in a little late. This I bumped up the container size to`600px` and things look alright here: https://litmus.com/pub/3174b35

I'm a little confused as to why you'd want to set a min-width to a column? What's do you intend to do with this? There might be an easier approach.

[2016-03-23 10:50] atahrijouti commented on #239
@tdhartwick as shown in the example here http://jsbin.com/gocafucale/1/edit?css,output

I have two tables. in which there is a cell that has content that is bigger than the cell.
- First table grows with the content.
- Second table is fixed, and the content overflows when bigger than the cell

[2016-03-23 13:03] #268 closed, assigned to nobody

[2016-03-23 13:08] GBratsos opened #269 "Button Centering"
**How can we reproduce this bug?**
Send an email with centered buttons on Yahoo email and open it from Chrome - Windows.
Write out the HTML (or Inky code) that causes the issue.

`<container>
    <row class="thankyou">
        <columns small="12" large="8">
            <center>
                <h2><b>Thank you!</b></h2>
                <p>February was full of great moments and amazing work!</p>

[2016-03-23 13:10] GBratsos commented on #268
Switched to v2 :+1:

[2016-03-23 15:02] kelvinaero opened #270 "npm start error"
After  installing foundation 2, parking inside the new project directory and running npm start on Mac OS X Command Line

We get the following Failed to load

[10:55:13] *_Failed to load external module *_ babel-register
[10:55:13] Requiring external module babel-core/register
....
...

Everything looks correctly and the project works, but we wanted to report this minor issue.

[2016-03-23 15:46] bahamagician commented on #267
Where would I put the "data" folder and how would I tell the build process to include it?  The foundation for sites zurb template already has a data folder included.  However, the email template project doesn't.

Also, looking at the gulpfile for the template project, I don't see any reference to data or handlebars:

[code]

Whereas the gulpfile for sites has a reference to both the data folder an

[2016-03-23 15:52] bahamagician commented on #267
So I managed to get it working but I had to modify gulpfile.babel.js as per the following:

[code]

[2016-03-23 16:11] tdhartwick commented on #270
@kelvinaero Thanks for pointing this out! This was really annoying to us too. I think we pushed an update  a few days ago. Maybe deleting the node_modules folder and reinstalling npm might fix it. @gakimball can you chime in on this?

[2016-03-23 16:30] tdhartwick commented on #269
It looks like the centering works on our end. Here's the litmus test reflecting it: https://litmus.com/pub/84c7bdd

I used Inky to replicate it, which outputs the center tag around around the `<a>` tag of the button.

Let us know if this doesn't work!

[2016-03-23 16:30] #269 closed, assigned to nobody

[2016-03-23 16:33] tdhartwick opened #272 "Buttons in Outlook 2007, 2010, and 2013 don't respect width auto"
View the test here:
https://litmus.com/pub/84c7bdd

**How can we reproduce this bug?**
make any button that isn't an expanded button

Write out the HTML (or Inky code) that causes the issue.
`<button href="http://zurb.com">This Button</button>`
**What did you expect to happen?**
Auto width
**What happened instead?**
shrinks to largest word and then stacks
**What email clients does this happen in?*

[2016-03-23 16:48] pdnellius commented on #270
I had to manually install babel-register with `npm install babel-register` to resolve this

[2016-03-23 16:56] mbesto opened #273 "Undefined variable: "$container-background-color"
When I `npm start` in a completely new build I get this error message:

[code]

Really simple fix here. On this line https://github.com/zurb/foundation-emails/blob/develop/scss/settings/_settings.scss#L34 change `$container-background: $white;` to `$container-background-color: $white;`

Then `npm start` works properly.

[2016-03-23 17:10] mbesto commented on #273
This appears to be already fixed. When I do `foundation new --framework emails` in the cli it installs:

[code]

Of which this is fixed in v2.0.0 of foundation-emails repo: https://github.com/zurb/foundation-emails/blob/v2.0.0/scss/grid/_grid.scss

Any ideas?

[2016-03-23 17:16] tdhartwick commented on #272
Fixed here: 1519cfc03aa4649cd52e5223deb04ebd2682ded7

[2016-03-23 17:16] #272 closed, assigned to tdhartwick

[2016-03-23 18:02] GBratsos commented on #269
Padding on buttons do not work on outlook.com/office365 in browsers. Same markup, can you actually check it? On litmus it seems to work correctly.

[2016-03-23 18:10] 1stevengrant commented on #270
Even after adding `babel-register` manually, I'm running into the same issues

[code]

[2016-03-23 18:24] 1stevengrant commented on #270
Resolved this by `npm cache clean`

[2016-03-23 19:18] pdnellius commented on #273
@mbesto I can also confirm this issue and have fixed it in the same way.

[2016-03-23 20:24] kelvinaero commented on #270
Thank you for the quick reply. We are glad to help. For the moment npm install babel-register solves the error.

[2016-03-23 20:28] meghanhorton opened #274 "[Callout] Documentation requires update"
**Versions**
foundation-emails v. 2.14.7
Foundation CLI version 2.1.0

**Issues**
The documentation on http://foundation.zurb.com/emails/docs/callout.html#basics states the following layout for a callout:

[code]

In the NPM foundation-emails v 2.14.7, the [SCSS](https://github.com/zurb/foundation-emails/blob/develop/scss/components/_callout.scss) has a different structure:

[code]

By following t

[2016-03-23 21:02] johnbcable opened #275 "Foundation for Emails - new project setup issue"
I have just installed the updated foundation-cli via npm and then tried to create a new email project using the recommended command:

foundation new --framework emails

The screen output I get is the following:

JCiMac:Emails a03pl$ foundation new --framework emails
? What's the project called? (no spaces) testinky

[code]

   /   | ===  \     -------------------------------------------
   |   | =

[2016-03-23 22:03] ineptian commented on #255
is it possible to do this using INKY?
`<row>
  <container>
    <columns small="12" large="12">
    full width
    </columns>
  </container>
</row>`
Does not seem to work

[2016-03-23 22:38] gakimball commented on #275
Looks like npm ran into a network error while trying to install. Are you behind a firewall or proxy or anything like that?

Also, could you let us know what OS you use, and what versions of Node (`node -v`) and npm (`npm -v`) you use? Thanks :)

[2016-03-23 22:43] johnbcable commented on #275
Hi,

My machine is wired-connected to the household router and we are not behind a software firewall or use a proxy server of any sort.

My versions of node and npm are as follows:

node -v                               v0.12.2
npm -v                                2.7.4

My machine is running OS/X El Capitan   version 10.11.3

Thanks

On 23 Mar 2016, at 22:39, Geoff Kimball notifications@github.c

[2016-03-23 22:56] gakimball commented on #275
A project folder was still created, it just didn't finish getting set up. Could you open the folder in your command line, run `npm install`, and tell us what happens?

[2016-03-23 23:03] andreimoment opened #276 "Both .hide-for-large and .show-for-large content show in some email clients. Should be either/or."
**How can we reproduce this bug?**
See this test, specifically the Gmail clients
https://litmus.com/checklist/emails/public/b396ece

and full html
https://litmus.com/builder/3208f91

New Litmus links, the old ones seem to have expired.
Code: https://litmus.com/builder/3208f91
Tests: https://litmus.com/checklist/emails/public/b396ece

Write out the HTML (or Inky code) that causes the issue.

[code]

[2016-03-23 23:54] kculmback opened #277 "Container not properly loading in email"
When conducting an email test with Putsmail, I found that the email container is not properly loading. I was able to see this in Gmail and Outlook 2013 with two different emails built use Foundations for Email 2.0.0
<img width="731" alt="screen shot 2016-03-23 at 4 46 29 pm" src="https://cloud.githubusercontent.com/assets/13227266/14004404/1e0f0ff6-f117-11e5-8c85-a41a1f04c0f2.png">
<img width="100

[2016-03-24 00:26] kculmback commented on #277
The issue was with Putsmail, not Foundation for Emails. Fixed by selecting "Move my CSS inline when I click Send Email" option in Putsmail.

[2016-03-24 00:26] #277 closed, assigned to nobody

[2016-03-24 00:43] rickysullivan opened #278 "Breaking XHTML validity when inlining css"
If you inline an XHTML based email, there's a chunk of css that will break the validity of the XHTML doc. I'm using foundation-emails and inky, but I'm still sticking with XHTML for my templates.

The problem lies with this section of code:

[code]

https://github.com/zurb/foundation-emails/blob/develop/scss/grid/_grid.scss#L17-L21

This will add a `style` attribute to the `html` node, which cause

[2016-03-24 06:51] karalkou opened #279 "It seems new markup for block-grid doesn't work."
[code]

I see only inserted <column> tags on my page.

[2016-03-24 07:52] ghost opened #280 "Setting $header-font-weight to bold brakes word-break"
Having problems with $header-font-weight in _settings.scss. Setting it to bold prevents word-break to work properly on mobile devices.

It also makes all text bold for some reason?

[2016-03-24 08:01] bharrisau opened #281 "&apos; not rendered in outlook"
**How can we reproduce this bug?**
The password template example. https://litmus.com/checklist/emails/public/96b083d#ol2013

**What did you expect to happen?**
An apostrophe to appear.

**What happened instead?**
An `&apos;` appeared.

**What email clients does this happen in?**
Looks like all the Outlook examples.

Would `&#39;` be a better escaped apostrophe to render to?

[2016-03-24 15:57] houmark commented on #221
I created the helper file and tried this method, but it does not seem to work for me for some reason I cannot figure out.
Content inside `{{{{raw}}}` is not present in the output at all so it's basically stripping all of it.

I'm using the normal npm start way to work on the email template, is there anything else I'll need to do in order to make this work?

[2016-03-24 16:17] alexblunck commented on #221
@houmark Are you setting the path to the **helpers** dir in your `gulpfile.babel.js` ?

[code]

[2016-03-24 16:29] houmark commented on #221
@alexblunck That's a no ;) That was no-where written so while it had been on my mind, I thought it was maybe something foundation automatically did when it detected files in that folder.

It works now after doing that ;) Thanks for the hint...

[2016-03-24 16:53] gakimball commented on #280
What clients specifically?

[2016-03-24 16:53] gakimball commented on #279
Where did you see this markup? It hasn't been implemented yet.

[2016-03-24 16:54] gakimball commented on #278
@rafibomb @tdhartwick Is it possible to make this an optional style, if it's specifically for browsers?

[2016-03-24 16:55] gakimball commented on #220
@rafibomb Anything else need to be done here?

[2016-03-24 16:56] cdymond opened #282 "'foundation watch' does not recognize new files"
When I create a new file, I have to end the process and restart it or `foundation watch` will throw this:

[code]

It seems that it refuses to recognize new files until the process is restarted. My current set up does not require restarting the process every time a file is created, so this is an unexpected behavior for me, but I'm just starting to dig into this so I may just be expecting a behavio

[2016-03-24 17:13] bulbul84 opened #283 "[Getting Started with CSS] Images didn't responsive in small screen please fix this issue"
**How can we reproduce this bug?**
1. Step one: i think you need indicate a class (img-responsive) of every responsive images (specially full width images)
2. Step two: edit/add your foundation.css file line: 1115 (@media max-width: 596px) like below:
   table.body img.img-responsive {
     width: 100% !important;
     height: auto !important; }
3. Step three: Then when anyone write their code whe

[2016-03-24 17:18] jsit opened #284 "@font-face definitions don't get embedded into HTML build"
`$ foundation new --framework emails`

`$ npm run build`

[code]

The `@font-face` definition doesn't get embedded in the HTML build, so an element with `font-face:"Franklin Gothic";` won't be rendered in Franklin Gothic.

[2016-03-24 17:20] rafibomb commented on #281
We noticed this too! Tried some different variations of character code and still not working. Hoping someone has experience with this!

[2016-03-24 17:21] rafibomb commented on #282
@gakimball Is there a good way to add these files?

[2016-03-24 17:25] karalkou commented on #279
Here is the link
http://foundation.zurb.com/emails/docs/migration.html#block-grid

[2016-03-24 17:26] rafibomb commented on #283
Right now, the images are width auto on small screens so they shrink with the container and do not stretch out (which would distort them). Thanks for the example! I didn't see an issue with how the images are handled. Can you provide a screenshot for which you would change the behavior?

[2016-03-24 18:10] toxsid opened #285 "Test template broken in a few email clients"
**How can we reproduce this bug?**
By visiting the litmus link below

Write out the HTML (or Inky code) that causes the issue.
https://litmus.com/builder/9161804

**What did you expect to happen?**
Buttons rendering correctly.

**What happened instead?**
Didn't do the above.

**What email clients does this happen in?**
Yahoo Mail, Gmail Explorer, Firefox Gmail, Yahoo Mail Firefox, Gmail Chrome, Ya

[2016-03-24 19:01] johnbcable commented on #275
What I get are a whole load of unmet dependencies:

JCiMac:testinky a03pl$ npm install
npm WARN unmet dependency /Users/a03pl/Sites/Foundation/Emails/testinky/node_modules/gulp/node_modules/undertaker/node_modules/last-run requires es6-weak-map@'^1.0.1' but will load
npm WARN unmet dependency /Users/a03pl/Sites/Foundation/Emails/testinky/node_modules/gulp/node_modules/undertaker/node_modules/es6-w

[2016-03-24 19:32] tobystokes commented on #270
I think the cause is that the babel-register package is not included in the package.json dependencies?
Zurb guys have it all installed globally? i installed with
`npm install babel-register --save-dev`

[2016-03-24 20:22] jsit commented on #284
I've gotten around this by wrapping my `@font-face` declarations inside `@media all {}` to force them to be embedded.

[2016-03-24 20:44] iDVB opened #286 "Would you be open to me submitting a PR to add litmus uploading/tests and Build ziping to this cli tool?"
Would you be open to me submitting a PR to add litmus uploading/tests and Build ziping to this cli tool?

With your new email workflow cli, it's all but rendering my [rwdemail](https://github.com/iDVB/rwdemail) tool useless.
I would love the change to PR in Litmus support and Build Zipping as optional pieces in the cli.

Before I put the time in to develop... is this something you would be open to

[2016-03-24 20:53] cdymond commented on #282
There may be more to this than I initially realized.

I'm getting a lot of this import not found or unreadable error, even with files and folders that were already there. It seems to be totally random. Sometimes it won't have any problem at all and sometimes it does. It is completely sporadic.

This could be an issue with gulp-sass itself, as I've found [this issue](https://github.com/dlmanning/gu

[2016-03-24 21:01] jsit opened #287 "Changing $global-width to >599px causes last of three columns to wrap below breakpoint"
[code]

[code]

This code causes the third column to wrap to a new line when viewport is narrowed below breakpoint.

Safari: works
Firefox: never works
Chrome: doesn't work after narrowing the viewport for the first time, works after widening and narrowing viewport again

Think this might be a more fundamental rendering bug.

[2016-03-24 21:06] rafibomb commented on #286
That's hot build you set up! We will accept a PR on this!

We use Litmus here and think most others do as well. Zipping the assets (compressed images) would help people using CM and Mailchimp, possibly others. The S3 images would be a useful option as well.

[2016-03-24 21:09] rafibomb commented on #285
Thanks for the report! Are you saying the buttons don't render correctly? We didn't see any code in the test you linked.

[2016-03-24 21:10] rafibomb commented on #284
Ok, that's good to know! Were you running `npm start` or `npm run build`? Just making sure the inliner didn't do this.

[2016-03-24 21:17] toxsid commented on #285
Rafi,

The codeviewer should be on the left of the building link I provided. Here it is again: https://litmus.com/builder/9161804. Thank you in advance!

[2016-03-24 22:03] rafibomb commented on #281
Looks like it's the inliner causing it - https://github.com/jonkemp/gulp-inline-css/issues/4

We'll try updating to see if it helps.

[2016-03-25 10:29] johnbcable commented on #275
Just managed to get this to work on the 4th time of trying so at least I can get testing now! I'll raise this again if the issue occurs again.
P.S.  No external software updates applied during the life of this issue.

[2016-03-25 10:33] acezard commented on #281
in the meantime it seems possible to use `’` which is `&rsquo;`, it does render correctly

[2016-03-25 12:58] acezard opened #289 "What would you think of an inky component to manage vertical spacing ?"
As we all know it's rather tricky to handle vertical spacing with html emails. Margin and padding often give various results or are flat out ignored. `<br>` tags are unreliable for a precise layout. The columns do indeed have padding-bottom, but what if I want to space elements that are inside the same column ? Or if I want a vertical spacing with a different background color than the container's

[2016-03-25 13:12] jsit commented on #284
`npm run build`. The `@font-face` definitions get into app.css just fine, but they don't make it into index.html.

[2016-03-25 15:52] tomstock1337 opened #291 "[Callout] Expects <th> for callout-inner, Inky generating <td>"
None of the callout examples are working on the docs website.  Using firefox, switch the tag from a td to th for a callout-inner and the coloring magically works.
http://foundation.zurb.com/emails/docs/callout.html

**What did you expect to happen?**
Coloring/border should be visible when using callout

**What happened instead?**
Coloring/border was not visible when a <td> was used with class call

[2016-03-25 16:21] rafibomb commented on #291
fixed it here: https://github.com/zurb/inky/commit/a43da5653e54d684209cf48090515228abb23313

Thanks for the report! We'll be putting out a patch today!

[2016-03-25 16:26] rafibomb commented on #289
It's an interesting proposal. I've found that `<br>` tags work better than padding in Outlook 2007, 2010, 2013. Those are the only clients we've seen padding not working consistently.

Have you found padding to work reliably on Outlook 2007, 2010, 2013?

If so, this could be a good replacement for the <br> tag (it could get ugly having multiple `<br>` tags).

[2016-03-25 16:27] rafibomb commented on #289
Having said that, we'd love to see a PR on Inky to add this in. We have a perfect project to test it on!

[2016-03-25 16:28] rafibomb commented on #287
That is weird! We'll test this out and see what's happening.

[2016-03-25 16:30] rafibomb commented on #285
We put a fix in for buttons yesterday https://github.com/zurb/foundation-emails/commit/1519cfc03aa4649cd52e5223deb04ebd2682ded7

Can you make the change and see it it solves it for you?

[2016-03-25 16:38] rafibomb commented on #284
Hmm I wonder if it's the inliner removing them https://github.com/jonkemp/gulp-inline-css

There should be a wrapper to preserve some styles like media queries. Will have to look into this more. If you find that this was resolved by a newer version of the inliner, we can update it.

[2016-03-25 16:40] rafibomb commented on #282
Yes, ruby sass should work fine as well 3.4+

It does seem intermittent because most of the time it works but sometimes...

[2016-03-25 16:41] rafibomb commented on #281
Oh nice! I went into the dist compiled version and changes it back to a '

[2016-03-25 16:53] rafibomb commented on #275
Hmm, we'll keep an out for more reports of it - glad you got it!

[2016-03-25 16:53] #275 closed, assigned to nobody

[2016-03-25 17:42] benortiz commented on #291
Quick question, how do I update an existing project once the patch is out? Thanks!

[2016-03-25 18:37] HansUXdev opened #292 "Panni Errors out"
**How can we reproduce this bug?**
Just try using a partial.

**Write out the HTML (or Inky code) that causes the issue.**
{{>menu}}

**What did you expect to happen?**

<div>some html</div>

**What happened instead?**
The task is completed but displays the following error:

Panini: rendering error ocurred.
 [Error: Parse error on line 34:
...ble>  </div>{{&gt; menu}}
------------------^
Expecting

[2016-03-25 18:56] Xerxes-J commented on #289
Can confirm this works on all email clients! I've used something similar in the past using a handlebar helper. Here's an updated version with two tweaks added in:
1. `font-size:'+size+'px;`
2. `mso-line-height-rule: exactly;`

**ComponentFactory.js**

`return format('<table class="%s"><tbody><tr><td height="'+size+'px" style="font-size:'+size+'px;line-height:'+size+'px;mso-line-height-rule: exactl

[2016-03-25 19:03] Xerxes-J commented on #291
1. cd "project_folder"
2. npm update
3. npm outdated (if there's no result's you are GOLDEN)

[2016-03-25 20:18] tazcarper commented on #276
I'm seeing this problem in Yahoo Mail on Litmus.

Images that are supposed to be only visible on mobile are shown at large size.

[2016-03-25 20:57] gakimball commented on #279
@rafibomb Can we scrub this from the migration guide?

[2016-03-25 21:38] gakimball commented on #282
Just to be sure, does the same thing happen if you run `npm start` instead of `foundation watch`?

(One is a wrapper command for the other, but just want to make sure it's not a CLI-specific issue.)

[2016-03-25 21:55] gakimball commented on #292
Not able to recreate this. I made a file called `src/partials/menu.html` and put in this content:

[code]

And then in `src/pages/index.html` I added at the top:

[code]

Is this similar to what you did?

[2016-03-25 21:58] gakimball commented on #291
Fixed in Inky 1.3.4

[2016-03-25 21:58] #291 closed, assigned to nobody

[2016-03-25 22:06] HansUXdev commented on #292
Yeah that is exactly what I did.... hmm--

That's weird.. I'm going to see if I can narrow it down further then... Hopefully I just have a bad npm package...

[2016-03-25 22:07] gakimball commented on #292
Does the content of the partial have any Handlebars code? And is there any Handlebars anywhere else on the main page?

[2016-03-25 22:08] gakimball commented on #270
@kelvinaero @tobystokes Do y'alls use npm 2 or 3?

[2016-03-25 22:19] gakimball commented on #160
We deployed the docs along with the stable 2.0 version on Wednesday. All of the samples include plain HTML and Inky examples: http://foundation.zurb.com/emails/docs/

[2016-03-25 22:19] gakimball commented on #160
Now that 2.0 is out, we're going to close the discussion threads. Thanks so much for the feedback, and if you have further ideas, feel free to open new issues to get a discussion going :)

[2016-03-25 22:19] #160 closed, assigned to nobody

[2016-03-25 22:19] gakimball commented on #161
Now that 2.0 is out, we're going to close the discussion threads. Thanks so much for the feedback, and if you have further ideas, feel free to open new issues to get a discussion going :)

[2016-03-25 22:19] #161 closed, assigned to nobody

[2016-03-25 22:20] gakimball commented on #162
Now that 2.0 is out, we're going to close the discussion threads. Thanks so much for the feedback, and if you have further ideas, feel free to open new issues to get a discussion going :)

[2016-03-25 22:20] #162 closed, assigned to nobody

[2016-03-25 22:22] gakimball commented on #267
Glad you got it working :)

We don't have the custom helpers or custom data features enabled by default in the template, because we anticipate (for now) that the majority of people won't use them. That `src` directory already has a lot of folders inside of it, so we don't want to overwhelm folks too much with all of the different features.

However, we can make sure it's clear in the documentation

[2016-03-25 22:22] #267 closed, assigned to nobody

[2016-03-25 23:05] rafibomb commented on #289
Well if that's the case, this would be a great addition to Inky because vertical spacing always get's weird on Outlook 2007, 2010, 2013. We're planning a feature release in a couple weeks and this will go in.

@acezard Thanks for the PR https://github.com/zurb/inky/pull/21  We'll be testing it and merging early next week!

[2016-03-25 23:20] acezard commented on #289
yes I think it's a solid way of managing spacing.

I typically use it that way : `<row>
    <columns large="12" small="12">
        <img>
        <spacer size="20"></spacer>
        <p class="text-center f20 b">some text</p>
    </columns>
</row>`

or that way (for instance to make a fake margin between row)

`<row></row><spacer size="20" class="grey-background"></spacer><row></row>`

I also made

[2016-03-26 12:41] atahrijouti opened #294 "Documentation error : text-center used instead of float-center"
**How can we reproduce this bug?**
1. [`follow this link`](http://foundation.zurb.com/emails/docs/alignment.html#centering-images)
2. Look at the code, and see `text-center`
3. Look at the doc, it says :

[2016-03-26 14:22] bahamagician opened #295 "$button-border variable not being applied with zurb stack"
I'm using the Zurb Email Template.

When I edit the $button-border in the _settings.scss it doesn't get applied to the compiled file.

For example, let's say I use the following code in the settings file:

[code]

When I run "foundation watch" or "npm run build" and search for "#123456" it doesn't appear anywhere within the code.

[2016-03-27 13:23] iDVB commented on #286
Working on this now. Having a bit of a hard time understanding the ecosystem of the various repos and branches. Maybe you can help point me in the right direction.

Not sure of the difference between these...

[code]

... I can't seem to find where [foundation-emails](https://github.com/zurb/foundation-emails) is used. It seems the [foundation-cli](https://github.com/zurb/foundation-cli) uses only

[2016-03-27 16:32] tobystokes commented on #270
npm -v == 3.5.3

Though I now suspect the message `Requiring external module babel-core/register` is not actually an error, just an alert. See e.g. https://markgoodyear.com/2015/06/using-es6-with-gulp/#comment-2355065905
The reason I though it was acquiring, not just requiring, is because there is about a one minute delay between this message and the rest of the gulp script executing:
`[17:05:43]

[2016-03-27 21:25] acezard commented on #286
iDVB are you also going to include a gulp task for compressing dist in a zip file ? very useful for emailonacid or campaign monitor users. I'm also very interested in this feature because it always has been a staple in my workflow, I'm willing to make myself a PR for it asap if you wish (indeed in the foundation-emails-template repo)

[2016-03-28 10:37] bulbul84 commented on #283
Hi...
Thank you for your reply....
I face this problem on Firefox, Internet Explorer Browser....
In this browser, images didn't resize with screen width...
I attached on a screenshot with html file that problem i face...
please check it on your firefox and internet explorer browser....

[hero.zip](https://github.com/zurb/foundation-emails/files/191649/hero.zip)
![screenshot_1](https://cloud.github

[2016-03-28 12:25] iDVB commented on #286
Yes, the plan is to have it do this as well as part of the `npm run build --production` build steps.

I already have the S3 and Litmus tasking integrated. Just trying to lock down how best to input the required creds. AWS and Litmus each have different recommended ways but just getting the user to input them into a *.config.json file seems the easiest, even if it isn't the best practise. Wish ther

[2016-03-28 16:28] kball commented on #286
Hi @iDVB,

Sorry that the ecosystem is a little unclear.  We've been having discussions about how to make it clearer and easier to use, though at least a fair amount of that is likely to be documentation.  Lets see if I can clear it up:

foundation-emails is essentially just scss and testing. It is the core of the framework, but over time I see people using it more as essentially a 'runtime' requi

[2016-03-28 16:52] iDVB commented on #286
Makes complete sense. Thanks for the clarification. I'm making good progress here. Would love to chat a bit about the PR after I submit it. There a a few things I think could/should open larger questions but I've just falled in line with your existing code.

For one, I think things are generally setup right now to process a single email. Setting things up so that you can have any number of emails

[2016-03-28 16:54] gakimball commented on #286
@iDVB Does having multiple files in the `src/pages/` folder not solve for this, or is there a more specific workflow you're thinking of?

[2016-03-28 17:00] toxsid commented on #285
Thanks @rafibomb this seemed to fix all button rendering issues. The following mail clients however choose to truncate the social buttons on the footer I have on this template for some strange issue. Maybe it is a litmus only problem?

Clients:

Gmail (Explorer, Firefox, Chrome)
Google Apps (Explorer, Firefox, Chrome)
Yahoo Mail! (Explorer, Firefox, Chrome)

Let me know if you have any additional

[2016-03-28 17:21] toxsid commented on #285
@rafibomb

After further investigation the following clients are still not rendering the buttons correctly (no padding):
- Office 365 (Firefox, Chrome)
- Outlook.com (Explorer, Firefox, Chrome)

Please see the following litmus for code:
https://litmus.com/builder/9161804

Let me know if you have any questions.

[2016-03-28 17:32] iDVB commented on #286
Sorry, I meant, the code I'm implementing. There are some considerations with how things are processed when it comes to images vs pages.

Right now `foundation-emails-template` does not require separation of images into page associated folders, so when we go to zip them up into packages, there is no inherit way to tell which images are for which email.

Ideally, this could be done as part of a per

[2016-03-28 17:55] twilly86 opened #296 "gulp inky infinite loop"
I'm getting an infinite loop when using inky inside gulp.  I traced the loop happening here (see screenshot)  Is this a problem with my html or inky?

![2016-03-28_11-54-52](https://cloud.githubusercontent.com/assets/3496838/14085256/071fa756-f4dc-11e5-8758-4e765dc13086.png)

note, i just put  in a limit to make it stop.

gulp file..

function parse() {
  gulp.src('views/emails/src/*_/_.html')

[2016-03-28 18:35] iDVB commented on #286
Ok, I have [Litmus and S3 working](https://github.com/iDVB/foundation-emails-template/tree/litmus_s3) with the assumption of a single email.
Having more then one email will require some thought around how to handle piping things.

**Proposed dist folder after build...**
![ProposedFolder](http://goo.gl/1eN1Q6)

**Next Steps:**
- Add support for sending Litmus multiple emails as separate tests
- Add

[2016-03-28 18:49] kball commented on #286
This is looking good!  Some thoughts:
1.  We'll need to describe what needs to be in the config file, which will at least be S3 creds
2.  You may want to allow more custom headers via the config file
3.  Should the build process handle setting the correct paths referencing the images in the email?  IE the email developer would reference local images and the build would change that to s3?  Or is it

[2016-03-28 19:19] iDVB commented on #286
**OOPS!** - Sorry, when I pointed to my fork, I hadn't yet pushed. I [have now](https://github.com/iDVB/foundation-emails-template/tree/litmus_s3).

Agreed, I put in a dummy `emails.config.json` that calls out the pieces needed. However, the final step needed here is to update the **README.md** and **site docs**.

Agreed, plenty of features can be exposed. Ideally, I think this config file should

[2016-03-28 20:16] rafibomb commented on #294
You're right! Luckily they both do the same thing so it works either way. We'll update the naming in Inky.

[2016-03-28 20:19] rafibomb commented on #294
Thanks! Made the change in Inky https://github.com/zurb/inky/commit/9e88d07f60232e0268597f10d436e0eb45e15100

The text-center class works the same for this but for accuracy it should be `.float-center`

[2016-03-28 20:19] #294 closed, assigned to nobody

[2016-03-28 21:52] rickysullivan commented on #286
As part of my workflow I'm using my own plugin: https://www.npmjs.com/package/gulp-delete-unused-images to remove unused image assets before zipping my archives.

[2016-03-29 03:55] HansUXdev commented on #292
I had multiple partials some had handlebars code and some didn't. I managed to fix it by changing the version of Panni and eventually it fixed itself. Weird. Now I can't reproduce it...

[2016-03-29 09:33] XmlmXmlmX opened #297 "Issue while installing dependencies"
When installing Foundation for Emails (`npm install --global foundation-cli`):

[code]

What I have tried:
- [x] Cleaning `npm-cache` folder.
- [x] Executing `git clone` commands manually
  - No errors, but when retry `npm install --global foundation-cli` I get a another error:

[code]

System: **Windows Server 2012 R2 Standard**
NPM works, `npm install --global gulp-cli` works...

In the `package

[2016-03-29 10:14] XmlmXmlmX commented on #297
When using `git+https` it works!

https://docs.npmjs.com/files/package.json#git-urls-as-dependencies

[2016-03-29 11:58] KittyGiraudel opened #298 "Add !default flag to variables"
It is good practice to add the `!default` flag to configuration variables. In this project, it would be all variables in https://github.com/zurb/foundation-emails/blob/develop/scss/settings/_settings.scss.

I’m willing to send you a PR for this if you want.

[2016-03-29 15:47] ghost opened #300 ".hide-for-large max-height:0"
the .hide-for-large class doesn't override  the "max-height : 0" when triggering the small screen media query which leads to not seing the element correctly.

[2016-03-29 16:06] gakimball commented on #292
Strange, what version did you move to?

[2016-03-29 16:06] #292 closed, assigned to nobody

[2016-03-29 18:09] gakimball commented on #298
Thanks Hugo! It may be the different way these variables are set up:

The actual variable definitions all use the `!default` flag—see [buttons](https://github.com/zurb/foundation-emails/blob/develop/scss/components/_button.scss) for an example.

From these, we generate a settings file (using [this tool](https://github.com/zurb/octophant)) that aggregates all of them together. The `!default` flag s

[2016-03-29 18:11] jamesstoneco opened #301 "Expanded Buttons Text Alignment Changes on Wrap"
**How can we reproduce this bug?**

Create an expanded button with a short amount of text.

**Write out the HTML (or Inky code) that causes the issue.**

Issue is the same with Inky or HTML.

[code]

vs.

[code]

**What did you expect to happen?**

I expected both to be centered as they would be on F4Sites.

**What happened instead?**

Instead the alignment changed from _left_ on shorter text to _

[2016-03-29 18:22] rafibomb commented on #301
visual
![image](https://cloud.githubusercontent.com/assets/5652085/14118899/8912f15e-f5a0-11e5-9029-27cdf8909bc8.png)

[2016-03-29 18:49] Madd4Computers opened #302 "Character entities not working"
Ever since the update/changes to the inliner (interface included) sometime last week, my templates have not inlined correctly and render poorly in browser and in the email client I use.

**How can we reproduce this bug?**
Here's a file I use:
[appDev_template.zip](https://github.com/zurb/foundation-emails/files/194093/appDev_template.zip)
 Try it out (inline it) for yourself and see.

**Write out

[2016-03-29 20:47] gakimball commented on #296
Can you paste the code you're running through the parser? Or try and narrow it down to the specific code that creates the infinite loop?

[2016-03-29 20:49] gakimball commented on #297
So the string is `git+https://github.com/gulpjs/gulp.git#4.0`?

We could update the template's `package.json` to use this.

[2016-03-29 20:49] gakimball commented on #300
Can you post an HTML example that isn't working?

[2016-03-29 21:42] k4xdm opened #303 "[Foundation for Emails] Apostrophes in outlook"
**How can we reproduce this bug?**

 **April’s**  produces HTML output `April&#x2019;s` (This works in Outlook)

**April's** produces HTML output `April&apos;s` (Outlook renders April&apos;s )

[2016-03-29 21:59] tayvano opened #304 "Margin & Margin-bottom incorrectly capitalized and included twice in inlined-styles"
When compiling sass version using `npm run build`, margin and margin-bottom are often included twice, once as `Margin:` and `Margin-bottom` and once with the correct, all-lowercase format.

An example:

`style="Margin:0;Margin-bottom:10px;color:#111;font-family:Lato,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center"`

[2016-03-30 00:13] rafibomb commented on #304
The capital M is a workaround for Outlook.com https://www.emailonacid.com/blog/article/email-development/outlook.com-does-support-margins to support margins.

The use of margin: 0; then margin-bottom: 10px; could be optimized. Can you point to a class that has this CSS?

[2016-03-30 00:18] rafibomb commented on #303
There is a duplicate open - looks like there is a solution there https://github.com/zurb/foundation-emails/issues/281 Thanks!

[2016-03-30 00:18] #303 closed, assigned to nobody

[2016-03-30 00:18] tayvano commented on #304
Ah! Thank you for that FYI.

In the aforementioned example, that style was taken off an arbitrary p. I do not believe there is any class.

[2016-03-30 00:19] rafibomb commented on #304
Sounds good! We'll close this here and looks for places we can merge those properties.

[2016-03-30 00:19] #304 closed, assigned to nobody

[2016-03-30 03:19] weishiji opened #305 "Ampersands are converted by inliner"
npm run build
 `&` will be Translation to `&amp;`
but i do not want to do this

[2016-03-30 08:12] KittyGiraudel commented on #298
Mokay. :)

[2016-03-30 08:12] KittyGiraudel commented on #298
Mokay. :)

[2016-03-30 08:12] #298 closed, assigned to nobody

[2016-03-30 09:53] DanielHitchen opened #306 "[Foundation for Emails] Wrong gulp.watch image path?"
Hi,

When adding an image to your email i.e placing an image in the `src/assets/img` folder, then adding it to your email, the email build does not update because the Gulp watch path for the images maybe incorrect.

On line 88 of the `gulpfile.bable.js` the path is set to `src/img/**/*`, should this not be `src/assets/img/**/*`? Once I changed this in my project the images compiled upon change.

A

[2016-03-30 10:31] DanielHitchen opened #307 "[The Grid] Column offsets are over-ridden when using collapse"
Hi,

If using the `collapse` class on a row, if you try to offset a column within that particular row, the offsets' `padding-left` left value is over-ridden by the `collapse` padding.

[2016-03-30 16:57] rafibomb commented on #307
Thanks for the report Daniel! Do you have a code snippet we can use to test this?

[2016-03-30 18:12] rafibomb commented on #305
This is pretty standard. If they are converted, does it cause an issue when sending?

[2016-03-30 18:33] joaostein commented on #304
@rafibomb — also thought this was an issue and almost issued a PR to remove the duplicated margin.  gladly I found this issue, thanks for the link.  any ideas on how to make this more evident to the user that is looking directly to the code?

[2016-03-30 20:24] rafibomb commented on #300
@diskokevin Thanks for the report! It would also help to know what email client the issue relates to - thanks!

[2016-03-30 20:36] getglad opened #308 "Outlook fowarded messages add line breaks after every row"
Using just a basic template like so:

[code]

This produces fine in Outlook on the first send, but Outlook is added a paragraph element between every table. This is no effect on the layout/appearance because the display is set to none.

Content Added by Outlook in Original Message:
`<P class=MsoNormal style="LINE-HEIGHT: 14.25pt"><SPAN style='FONT-FAMILY: "Helvetica",sans-serif; COLOR: #0a0a0a; **

[2016-03-30 21:32] tayvano opened #309 "Question: How do I include attributes into the pre-compiled (sass) version so that they show up in the compiled version?"
For example, I want to include a `background=` and `bgcolor=` as attributes:

`<row class="background-image" background="image.jpg">`

so that it outputs to:

`<table class="row background-image" background="image.jpg" style="background:url(image.jpg); ... >`

Is this doable?

[2016-03-30 23:57] tophed opened #310 "Inliner stripping @font-face, not moving to body"
**How can we reproduce this bug?**

In the inliner ( http://foundation.zurb.com/emails/inliner.html ),
1. Paste HTML:
   `<!DOCTYPE html>
   <html>
   <head>
   <title></title>
   </head>
   <body>
   </body>
   </html>`
2. Paste CSS:
   `@font-face {
       font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: local('Montserrat-Regular'), url('https://fonts.gstatic.com/s/montserra

[2016-03-31 00:05] tophed commented on #310
Whoops, there is a previous post I missed that highlights the same issue:
https://github.com/zurb/foundation-emails/issues/284

Not sure how I can delete this post.

[2016-03-31 00:34] tophed opened #311 "Buttons .expanded, only text is clickable after inlining"
**How can we reproduce this bug?**

-Create button with class="expanded" in Inky or HTML
-Inline CSS with Foundation web inliner, or ZURB stack run by 'npm run build'

[code]

**What did you expect to happen?**

Entire button to be clickable, like in the Foundation for Emails docs.

**What happened instead?**

Only text is clickable.

**What email clients does this happen in?**

Happening in the b

[2016-03-31 02:00] weishiji commented on #305
I use a third party platform to send email,but the platform may be has some
problem.I send the building content to customers with the platform,when
customers open the link in email,the link has amp; in address bar.so i used
gulp-replace plugin to replace them,and it can work

2016-03-31 2:12 GMT+08:00 Rafi notifications@github.com:

##

姓名：刘小光
电话：18610078527

[2016-03-31 06:00] Amir0x1 opened #312 "[Foundation for Emails] center tag not working as expected"
**How can we reproduce this bug?**
1. Use this markup:
columns small="6" large="2"
    center
        img src=""
    /center
/columns
2. Shrink the browser window past the breakpoint

**What did you expect to happen?**
I expected to see a 50% column with a centered image inside.

**What happened instead?**
The column became 50% and the center became 50% of the column

[2016-03-31 06:02] #312 closed, assigned to nobody

[2016-03-31 07:04] ghost commented on #300
HTLM:

`<container class="hide-for-large"></container>`

_visibility.scss :

[code]

So basically, "max-height: 0px;" is still used from the classic version of the class, even when the media query is triggered.

[2016-03-31 07:14] techdragon commented on #221
Can we get this reopened, and considered as a possible future feature? "handlebars style" template tags are an extremely common tool for per recipient substitutions and other data inclusion tasks as part of sending email. I don't think my use case of building emails and email templates that will be used by other tools such as Django, SparkPost, Mandrill, etc, is uncommon and the current 'default'

[2016-03-31 07:21] houmark commented on #221
As I see it the only way to do this, is by having this helper, so I agree that this helper should be included by default so `{{{{raw}}}}` works out of the box.

[2016-03-31 11:27] DanielHitchen commented on #307
Hi @rafibomb , here is a zip with the code snippet:
[collapse-bug.zip](https://github.com/zurb/foundation-emails/files/197489/collapse-bug.zip)

Thanks

[2016-03-31 12:03] joshvito opened #313 "non-english characters do not display correct in browsersync preview"
I am using a clean/basic install of the SCSS version of Foundation for Email

The following markup

[code]

previews in the browser as
![image](https://cloud.githubusercontent.com/assets/1249866/14175112/e8b0b688-f716-11e5-85ef-33a0bfd9a393.png)

I am using the default.html layout with the meta tag
`<meta http-equiv="Content-Type" content="text/html; charset=utf-8">`

[2016-03-31 13:34] Xerxes-J commented on #308
TBH, forwarding emails will always break your design/layout. I've always struggled in getting it work properly.

[2016-03-31 14:33] kelvinaero opened #314 "Grid not working in Firefox"
**How can we reproduce this bug?**
We noticed that the grid is not displaying correctly on firefox(See attached)
![email-grid-problem](https://cloud.githubusercontent.com/assets/9321587/14186629/4235634e-f74d-11e5-93a3-6f0d5394684f.jpg)

We understand that Zurb for email is intended for email clients and not for browser, but we have a lot of our users using gmail on firefox and reporting this issu

[2016-03-31 17:45] jamiegiftbit opened #315 "Button - Generated Class being applied in the to the outer <table> as opposed the the inner <table> <td>"
The email docs suggest being able to apply `.radius` or `.rounded` to the Inky `<button class="radius rounded"> element, but once run through the generator, it creates a nested table and applies the classes to the outer table instead of the table > table > td as the css in the foundations node_module suggests

Generated:
From:
`<button class="button radius round">Click Me</button>`
To:

[code]

De

[2016-03-31 20:13] jamesref opened #316 "Columns in a "block grid" row not stacked in Gmail App"
When using the "block grid" layout with two columns, the second column does not get pushed down to the next row. Both stay on the same row and only get more narrow.
(I'm using version 2.1)

Here's a screenshot from Email On Acid:
https://eoass.s3.amazonaws.com/web/2016-03-31/gmailapp_ios/91220_135515.png?n=0

**How can we reproduce this bug?**

[code]

**What did you expect to happen?**
The second

[2016-03-31 20:15] rafibomb commented on #310
Thanks! We'll close this in favor of #284

[2016-03-31 20:15] #310 closed, assigned to nobody

[2016-03-31 20:21] rafibomb commented on #305
I see, thanks! We're going to be changing how that works for the next patch.

[2016-03-31 20:27] rafibomb commented on #289
@acezard Thanks for the PR!
@Xerxes-J Thanks for the assist!

I set up a test in the `test -> visual` folder in this repo. This tests out great! https://litmus.com/checklist/emails/public/e6d9076

If anyone can verify it works in all cases (I didn't try adding content inside it) that would really help. The next patch is set for Apr 7!

[2016-03-31 20:27] #289 closed, assigned to nobody

[2016-03-31 20:42] rafibomb commented on #313
are you running `npm start` or `npm run build` when you see this happening?

[2016-03-31 20:54] rafibomb commented on #309
This should be doable. It could be a feature of the row. A wrapper might work better.

We're working on a `<wrapper>` component that may work for this. It would basically build a

[code]

For now, using the above structure to wrap the row should work best.

[2016-03-31 20:58] rafibomb commented on #308
I'm not sure how the framework can solve this. Any ideas are definitely welcome!

[2016-03-31 21:01] rafibomb commented on #308
Did some research but not seeing something tangible we can do yet:
https://www.emailonacid.com/blog/article/email-development/why_forwarding_emails_is_so_bad
https://www.campaignmonitor.com/forums/topic/537/forwarding-html-emails-without-corruption/

[2016-03-31 21:06] joshvito commented on #313
I am running `npm start`when this error occurs

[2016-03-31 21:07] rafibomb commented on #316
Hmm, I'm not sure it was wrapping in v1 either but we'll did in a bit more. I wonder if Gmail is not handling display: inline-block; the same as others.

[2016-03-31 21:13] acezard commented on #289
yea I just noticed a slight issue on outlook 2016, first time I experience it. Seems a 1px line is inserted after the spacer in some cases. I wonder if it's linked to my markup (or even with EoA) because it doesn't appear on all emails.

Check this dark grey line above the button : it's not supposed to be there. Bug seem to only appear on outlook 2016.
![outlook](https://cloud.githubusercontent.co

[2016-03-31 21:16] rafibomb commented on #315
If you add the class on the `<td>`, does it work?

BTW the classes are made to be used either or, either radius or round.

It looks like this feature is not complete https://github.com/zurb/foundation-emails/issues/214 but we'd like to know what working solution you found!

[2016-03-31 21:44] rafibomb commented on #315
We added the correct CSS to make this work: https://github.com/zurb/foundation-emails/commit/b7c45e286265877e6c818075ab7d220c248e54f7

<img width="213" alt="screen shot 2016-03-31 at 2 37 08 pm" src="https://cloud.githubusercontent.com/assets/5652085/14191680/22b91dd4-f74e-11e5-9d0a-1bc41061aa4d.png">

There is a question of how valuable this is in the framework though. You can't have a button wit

[2016-03-31 21:44] #315 closed, assigned to nobody

[2016-03-31 21:44] rafibomb commented on #214
We added the correct CSS to make this work: https://github.com/zurb/foundation-emails/commit/b7c45e286265877e6c818075ab7d220c248e54f7

<img width="213" alt="screen shot 2016-03-31 at 2 37 08 pm" src="https://cloud.githubusercontent.com/assets/5652085/14191680/22b91dd4-f74e-11e5-9d0a-1bc41061aa4d.png">

There is a question of how valuable this is in the framework though. You can't have a button wit

[2016-03-31 21:45] rafibomb commented on #214
@tdhartwick @kball Thoughts? ^^

[2016-03-31 21:49] rafibomb commented on #302
We have a fix in for this which we are testing today. We'll update soon!

[2016-03-31 21:53] rafibomb commented on #281
We have a fix in for this, we're testing it.

[2016-03-31 21:53] jamiegiftbit commented on #315
Yes, if you apply the generated class in the inspector, to the `td` it does work, however you have no control over this when you run the build. You can however take the generate inline styles and move them to the `td` which I've tested in Litmus for Gmail in free preview, I'm just going to set up a paid account too and i'll post findings. But I have the `border-radius` applied to both the `td` and

[2016-04-01 01:36] weishiji commented on #305
Thank you! I want to  add a optional parameters in command to decide whether  the link is converted.

[2016-04-01 04:16] rbrtsluk commented on #306
I went and corrected what you have described here but my images still don't display in browserSync. The only way I can get them to load is to close terminal and restart my project?

[2016-04-01 04:26] rbrtsluk commented on #282
Sounds like im getting the same problem. I'm only new to foundation cli and sass and I just got my head around installing my first email project.
When I place new images in my assets/img folder they dont show on BrowserSync untill I restart my project in terminal?
Also making changes to my_settings.scss file like $body-line-height...etc sometimes wont update?

[2016-04-01 11:26] XmlmXmlmX commented on #297
That's right @gakimball

This is my pull: https://github.com/zurb/foundation-emails-template/pull/14

[2016-04-01 11:44] XmlmXmlmX opened #318 "Inliner Task doesn't work"
The [`inliner` task](https://github.com/zurb/foundation-emails-template/blob/master/gulpfile.babel.js#L92) doesn't do anything.

I use a [fresh and clean installed](https://github.com/zurb/foundation-emails-template#using-the-cli) app.

When 'debugging' (is there a way to debug babel-gulpfiles in windows?) with `console.log(mqCss);`, after [`mqCss`](https://github.com/zurb/foundation-emails-templa

[2016-04-01 12:53] jakemailninja opened #319 "[Visibility Classes] hide-for-large not responding in certain web-based clients"
I am testing out some of the features in Foundation for Emails 2.

Found that the hide-for-large class does not apply in some web-based clients (Gmail, Google Apps, Yahoo! Mail)

http://codepen.io/anon/pen/vGegWp

Has anyone found a fix for this?

(Testing in Litmus & Email On Acid)

[2016-04-01 16:57] gakimball commented on #297
Merged zurb/foundation-emails-template#14, thanks @XmlmXmlmX!

[2016-04-01 16:57] #297 closed, assigned to nobody

[2016-04-01 20:11] getglad commented on #308
Yeah I'll be working on this off and on, so if you find something I'd be all ears. I have added a custom component to my local Inky, so happy to try pretty much anything.

It seems like what is really needed is just the ability to add an additional `<tr>`, rather than have every `<row>...</row>` add an additional `<table>`. Maybe there is a cross-client issue that makes that nonviable, but it seem

[2016-04-01 20:51] markadrake commented on #319
Just going to try and expand on this - but I've found a lot of the "responsiveness" of the Zurb Email Template (even before 2) was indeed incorrect and not working in certain clients. Google especially is one who strips media queries and responsiveness away from your e-mails.

This is why I stress "mobile-first" thinking when it comes to e-mail design. If it doesn't fit into a single column, why?

[2016-04-01 20:53] gakimball commented on #221
Added raw Handlebars helper: zurb/foundation-emails-template@6de801e16a8d5a910ff14155290949a53e1e63d8

[2016-04-02 02:28] houmark commented on #221
I've hit a side effect of this.

Inside the raw code I have a `#if` statement that is to be executed in our Handlebars engine. To make more complex Handlebars statements we are creating a bunch of helpers much like here: http://stackoverflow.com/questions/8853396/logical-operator-in-a-handlebars-js-if-conditional

This enables us to do stuff like this `{{{{raw}}}}{{#if (eq signupType "external")}}

[2016-04-02 19:30] iDVB commented on #286
Just sent [a PR for these](https://github.com/zurb/foundation-emails-template/pull/15), works awesome.
Let me know if I sent the PR to the wrong branch or incorrectly.

[2016-04-03 03:55] rodoneill commented on #199
I'm getting the same problem with `npm run build`, however `foundation build` works fine.

[2016-04-04 02:29] chrispaynter opened #320 "Not stacking on mobile."
**How can we reproduce this bug?**

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#f3f3f3;min-height:100%"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width"></head><body style="-

[2016-04-04 11:13] dherges opened #321 "[Callout] documentation uses <td> instead of <th>"
**How can we reproduce this bug?**
1. use a `<td>` for `<td class="callout-inner">`

**What did you expect to happen?**

working colouring :-)

**What happened instead?**

no colouring :-(

**How to fix**

use a `<th>` for `<th class="callout-inner">`

guess that's a documentation bug

[2016-04-04 12:25] atahrijouti opened #322 "[Button] ISSUE NAME HERE"
**How can we reproduce this bug?**
1. Step one
2. Step two
3. Step three

**What did you expect to happen?**

**What happened instead?**

**Test case**

Give us a link to a [CodePen](http://codepen.io) or [JSFiddle](http://jsfiddle.net) that recreates the issue.

[2016-04-04 12:26] atahrijouti opened #323 "[Button] Warning Button"
1. http://foundation.zurb.com/emails/docs/button.html#coloring
2. See Warning colored button
3. color is blue

Is the color supposed to be blue ?

[2016-04-04 16:13] rafibomb commented on #323
It's supposed to be #ffae00. Is that something you can fix with a pull request - it would really help out! Thanks!

[2016-04-04 16:14] rafibomb commented on #322
No description - closing :)

[2016-04-04 16:14] #322 closed, assigned to nobody

[2016-04-04 17:24] rafibomb opened #324 "[Docs] Search results are not populated"
The docs search returns no results.

[2016-04-04 17:27] rafibomb commented on #320
Did you happen to run the email through the inliner? This will move the media queries into the body so they don't get stripped out by email clients.

[2016-04-05 12:30] joshvito opened #325 "npm start errors after first run"
**How can we reproduce this bug?**
I installed according to the getting started guide on your site.
[http://foundation.zurb.com/emails/docs/sass-guide.html]

When I run `npm start` the first time, all is working as expected.

Once I close this watch function, and try to restart it, the startup errors out.

[code]

**What did you expect to happen?**
- I expected the browsersync server to start up a

[2016-04-05 13:30] joshvito commented on #318
I think I may be having a problem with the inliner task too.

@XmlmXmlmX , are you able to successfully run `npm start` ?

[I have a problem running it for a second time](https://github.com/zurb/foundation-emails/issues/325)

[2016-04-05 15:11] markadrake commented on #289
Maybe you are running into a [sub-pixel rendering issue](http://stackoverflow.com/questions/31098642/ie-11-sub-pixel-rendering-overflow). This is the best example I could find to link to - but it happens to me all the time in Chrome.

[2016-04-05 15:18] hirish opened #326 "linear-gradient inlining incorrectly"
**How can we reproduce this bug?**

HTML:

[code]

CSS:

[code]

**What did you expect to happen?**

[code]

**What happened instead?**

Generates an invalid CSS linear-gradient:

[code]

[2016-04-05 19:05] tomstock1337 opened #327 "[Visibility Classes]max-height: 0 interfering with hide-for-large"
**How can we reproduce this bug?**
See JsFiddle link below.  The max-height:0px for hide-for-large is interfering with content that follows.  The hide-for-large content shows above the paragraphs or text that follows as if it was floating

**What did you expect to happen?**
The content after the hide-for-large content should shown below the hide-for-large content, not behind.

**What happened inst

[2016-04-06 10:39] chedaroo opened #328 "Special characters in raw handlebar fragments converted to entity codes"
I know you've had a couple of issues with entity tag conversion lately, but I think this one is in a different scope.

Using the default Panini / Inky stack, I'm trying to use the 'raw' helper to include unparsed handlebar fragments like so:

[code]

I expected to get this:

[code]

But actually get this:

[code]

As you can see the special characters in the literals have been replaced with entity

[2016-04-06 11:27] olliecamp opened #329 "foundation new --framework email Fails"
**How can we reproduce this bug?**
1. run foundation new --framework email

**What did you expect to happen?**

Foundation to install

**What happened instead?**

Crashed with the following comment

Downloading the project template...There was an issue running git clone to download the Foundation for Apps template.
Make sure your computer's Git is configured properly and then try again.

**Test ca

[2016-04-06 11:30] olliecamp commented on #329
Ooops didn't mean to close this.

[2016-04-06 11:32] eljazouli commented on #319
Hello @jakemailninja @markadrake  did you find a solution to this problem ?
Thank you !!

[2016-04-06 11:45] joshvito commented on #325
After a bit more troubleshooting. This is only a problem when I install via `foundation new --framework emails`. I have foundation cli installed globally.

If I grab the repo @https://github.com/zurb/foundation-emails-template, and run `npm i` the functionality works as expected and the error above does not occur.

[2016-04-06 11:48] joshvito commented on #329
are you able to clone the github repo @https://github.com/zurb/foundation-emails-template and install via instruction on that page?

I was having problems with the foundation cli too. But this option helped be get around the issue for now.

[2016-04-06 16:24] lspoor opened #330 "Buttons not centering, nor 100% width in Outlook"
**How can we reproduce this bug?**
Create a button with expanded class

Write out the HTML (or Inky code) that causes the issue.
`<table class="button expand">
    <tr>
        <td>
            <table>
                <tr>
                    <td class="radius">
                        <center data-parsed=""><a href="#">Book an Appointment</a></center>
                    </td>
                </t

[2016-04-06 17:58] rafibomb commented on #329
What version of node are you running?

[2016-04-06 18:56] joshvito commented on #329
@rafibomb,
I assume you were asking the thread creator, but I'll post my version below, in case it is helpful.

 info using npm@3.7.3
info using node@v5.4.0

[2016-04-06 20:25] hswidarski opened #331 "Font Colors"
I am trying to create color blocks that have the same layout, but different colors for the font and background. This is what my index looks like :+1:

[code]

and my components for call-out-1 is

[code]

and call-out-2

[code]

They have all been imported and I know work, but it won't let me define the p class color or the h6 for some reason only the h4, and it just looks strange.

[2016-04-06 20:37] awhitehouse104 commented on #309
I ran into this as well trying to inline styles. Useful for something like the following with handlebars, but it's not preserved.

[code]

[2016-04-06 21:16] hswidarski opened #332 "Issue with finishing in terminal"
When I try and finish my email and type in npm start build  in terminal I get most of it, but this pops up in my terminal (attached picture)
<img width="582" alt="screen shot 2016-04-06 at 4 11 16 pm" src="https://cloud.githubusercontent.com/assets/18315395/14333043/3d09ff50-fc12-11e5-8009-16eb3959a86e.png">

I only receive the index file in my dist folder, so I am not sure if there is a larger is

[2016-04-07 12:46] Flixt commented on #282
In fact I have the same on my ubuntu vagrant machine, but it works fine on OSX. Maybe it has to to with leveraging fsevent (which is OSX only).

[2016-04-07 13:55] EHackettTriCore commented on #214
I just added border-radius on my project even though I know it's degrades on many mail clients. I don't think rounded edges are crucial if you want to keep the project smaller but I do think the option is handy and I imagine a decent amount of designers would appreciate the option since it seems to be a popular design choice [Really Good Email - See Button Trends ](http://reallygoodemails.com)

[2016-04-07 14:18] cheerfuloriole commented on #330
The table nested inside needs the width set to 100%. As of now, it collapses to its content because it doesn't know otherwise what to do.

[2016-04-07 16:03] aricallen commented on #284
The `@media all` workaround wasn't working for me so I found another and wanted to share incase anyone else was still having trouble with this. I tweaked the `gulpfile` to manually grab a file with all the `@font-face` declarations and toss it in with the inliner.

[code]

[2016-04-07 16:41] twiginteractive opened #334 "Copy To Clipboard" button double-HTML-encodes ampersands"
The "Copy To Clipboard" button double-HTML-encodes entities (certainly the ampersand &).

http://foundation.zurb.com/emails/inliner-v2.html
Easily reproduced - just type '&' into the left side, hit "INLINE" then hit "Copy To Clipboard".

Paste your clipboard into notepad and see the & -> &amp; -> &amp;amp;

[2016-04-07 18:59] stewartjarod commented on #323
I think y'all might just need to rebuild and upload. Or there is an issue with the gulp process that builds for the deploy.

[2016-04-08 02:10] esteban-maidana opened #335 "Inliner v2 error coding & and template {{#each}} tags"
Hello, i'm having some problems with the inlined code.
1. I have already encoded &; special chars, but the inliner make it again. For example:
    This: Products `&amp;` Services
    Turns: Products `&amp;amp;` Services
2. I have some `{{#each}}`tags using mustachio template language; it remains in the code but not a the same place. For example:

[code]

[code]

**How can we reproduce this bug?**

[2016-04-08 11:00] schwabsimon opened #336 "Css rule margin double all over the place"
In scss/*.scss in almost any scss file the margin rule is there twice:

Example in _grid.scss on line 30:

  &.container {
    background: $container-background;
    width: $global-width;
    margin: 0 auto;
    Margin: 0 auto;
    text-align: inherit;
  }

[2016-04-08 14:27] billmorton commented on #336
I believe the capital M for margin is a hack to get margin working in Outlook.com

https://www.emailonacid.com/blog/article/email-development/outlook.com-does-support-margins

[2016-04-08 14:54] sco-tt commented on #316
This is a hack and a workaround that doesn't address the stacking issue, but if you add:

`<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>`

right be

[2016-04-08 18:32] inssitu commented on #328
Did you find any solution @chedaroo ?

Thanks

[2016-04-08 19:04] chedaroo commented on #328
No, didn't look into it particularly deeply though, sorry. Will do when I get time.

[2016-04-08 19:13] stewartjarod commented on #332
Looks like there is an issue when it is trying to inline your css. Are you using the `src/assets/css/app.css` file to add your css styling? Did it get renamed or removed?

[2016-04-08 19:40] hswidarski commented on #332
Yeah, that seems to be the issue. I am editing my CSS in the settings file and importing all of them in app.scss – could that be the issue that my app and settings files are .scss and not .css
My components I’m naming .scss because that’s how it was done in the video and the app and settings files came in as src/assets/scss/capp.scss.

##

Hollie Swidarski
Designer
Hswidarski@everspringpartners.co

[2016-04-08 19:41] hswidarski commented on #332
## Also, it when I try and inline that I don’t even get a css folder or app.css file in my dist folder.

Hollie Swidarski
Designer
Hswidarski@everspringpartners.com

From: Jarod Stewart <notifications@github.com<mailto:notifications@github.com>>
Reply-To: zurb/foundation-emails <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, April 8, 2016 at 2:13 PM
To: zurb/foundation-emails

[2016-04-08 19:45] stewartjarod commented on #332
Since you are using the sass version, you should be using the `.scss` extension.

If your folder is really named `src/assets/scss/capp.scss`, you should rename `capp.scss` file to `app.scss`

[2016-04-08 19:55] hswidarski commented on #332
## I apologize it was app.scss that was a misspell on my part

Hollie Swidarski
Designer
Hswidarski@everspringpartners.com

From: Jarod Stewart <notifications@github.com<mailto:notifications@github.com>>
Reply-To: zurb/foundation-emails <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, April 8, 2016 at 2:45 PM
To: zurb/foundation-emails <foundation-emails@noreply.github.com<mai

[2016-04-08 19:59] hswidarski commented on #332
## I feel like there might be an issue with my zurb foundation download because in my terminal when I type nam start build I get this error. Is there a way for me to uninstall the whole program and try again. Or does that give you any more insight into what the issue is?

Hollie Swidarski
Designer
Hswidarski@everspringpartners.com

From: Jarod Stewart <notifications@github.com<mailto:notifications

[2016-04-08 20:00] stewartjarod commented on #332
Hrmm, will need more information then. Could you upload and share your npm-debug.log file?

[2016-04-08 20:13] hswidarski commented on #332
## How would I do that?

Hollie Swidarski
Designer
Hswidarski@everspringpartners.com

From: Jarod Stewart <notifications@github.com<mailto:notifications@github.com>>
Reply-To: zurb/foundation-emails <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, April 8, 2016 at 3:00 PM
To: zurb/foundation-emails <foundation-emails@noreply.github.com<mailto:foundation-emails@noreply.github.c

[2016-04-08 20:16] stewartjarod commented on #332
Copy all contents and create a public gist: https://gist.github.com/

[2016-04-08 20:29] hswidarski commented on #332
## I don’t think I have that, am I supposed to install a debugging tool?

Hollie Swidarski
Designer
Hswidarski@everspringpartners.com

From: Jarod Stewart <notifications@github.com<mailto:notifications@github.com>>
Reply-To: zurb/foundation-emails <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, April 8, 2016 at 3:16 PM
To: zurb/foundation-emails <foundation-emails@noreply.git

[2016-04-08 20:31] rickysullivan commented on #332
The last line of your error output shows the log location.

[2016-04-08 21:07] hswidarski commented on #332
## Interesting, the file was missing. I made a blank file with the name npm-debug.log and added it to my template_program folder and it worked! I’m not sure exactly what the issue was, but for some reason I was able to get the css file in my dist folder once created the blank nam-debug.log file.

Hollie Swidarski
Designer
Hswidarski@everspringpartners.com

From: Ricky <notifications@github.com<mai

[2016-04-08 21:15] stewartjarod commented on #332
Feel free to close this issue if you think it is resolved :+1:

[2016-04-11 06:15] schwabsimon commented on #336
@billmorton

Ok, in that case see this issue closed. In regards of Outlook and such, I stopped wondering anyway.

[2016-04-11 17:12] rafibomb commented on #301
This seems related to https://github.com/zurb/foundation-emails/issues/330

[2016-04-11 17:16] rafibomb commented on #330
@aaronkahlhamer Did adding width: 100% to the inner table fix it for you? If so, are you able to submit a Pull Request?

[2016-04-11 17:29] bc-ian opened #337 "' gets replace with &apos; this doesn't work on outlook should switch it to &#8217;"
the inliner replaces ' with `&apos;` which doesnt get recognized on outlook.com

I suggest that this gets changed to `&#8217;` which is the equivalent, and works across all mail clients.

[2016-04-12 14:32] ghost opened #339 "$button-border not declared as value in _button.scss"
Seems like I can't style the border of a button through _settings.scss.

This is declared in _button.scss:

[code]

But shouldn't that be like this:

[code]

[2016-04-12 15:32] twiginteractive opened #340 "Custom font <link> elements are stripped out by Inliner v2"
I need to include external font faces for custom fonts (yes, I know they won't work in Outlook and other clients, but with font-family fallback it won't hurt) - but the Inliner v2 is stripping them out. I can't even include the @font-face declarations in-page, even inside an @media block.

[2016-04-12 18:09] tdhartwick opened #341 "Thumbnail images overflow becuase of border width"
**How can we reproduce this bug?**
    <columns small="12" large="12">
      <img src="http://placehold.it/1400x200" alt="my thumbnail" class="thumbnail">
    </columns>
**What did you expect to happen?**
Image wouldn't overflow it's containing row.
**What happened instead?**
It did.
**What email clients does this happen in?**
Tested on chrome, so likely all email clients

[2016-04-12 22:42] probablyabear opened #343 "Include padding/margin css declarations within Inky language"
Using the Zurb email stack and Inky is great, they really streamline the initial layout of emails. However, it's often necessary to include additional padding on column elements.

Unless I've missed something, I don't believe it's possible to include padding/margin declarations within the Inky language that will be carried over and inserted into the distribution version of the email.

This is pret

[2016-04-12 23:41] rafibomb commented on #343
You can include classes. Since you are using the ZURB stack, the best practice is to create SCSS partials for your custom CSS and style with classes. You can also add CSS directly to the app.scss.

You can do things like
`<row class="gallery">`

[2016-04-12 23:46] bahamagician opened #344 "resetPages doesn't work for JSON data"
I set up a watch task in my gulpfile to watch the data folder and update everything whenever the data folder is updated.  This works fine if I'm using a YAML file for the data.  However, if I'm using a JSON file, the data won't refresh.  I have to restart gulp to see the data changes with JSON files.

This seems like the resetPages function and in particular the panini.refresh() method doesn't wor

[2016-04-13 00:33] probablyabear commented on #343
@rafibomb, thanks for the quick response.

You described exactly what I was looking for; I must've skimmed over that portion of the docs.

As I understand it, I can apply custom classes to pre-compiled Inky markup elements. Is there a best practice for applying padding/margin focused classes to Inky rows and/or columns?

[2016-04-13 06:06] gdlmsn opened #345 "Error in plugin sass. Help"
After compiling the css.sass, while making some changes, the css file disappear and when trying to npm start again this is what happen.

[errorlog.txt](https://github.com/zurb/foundation-emails/files/216456/errorlog.txt)

npm start

[16:01:41] Requiring external module babel-register
[16:01:41] Using gulpfile ~/foundation-emails-template/gulpfile.babel.js
[16:01:41] Starting 'default'...
[16:01:41

[2016-04-13 08:42] mathiashelin commented on #309
As far as I know, Inky strips out all attributes except classes. It would be very useful if Inky could preserve all attributes, so you can write templates for MailChimp and Campaign Monitor. MC attributes like mc:edit etc. get thrown out, so now you have to add them to the compiled html, which is not very productive if you have to add/edit something afterwards.

[2016-04-13 13:30] probablyabear commented on #343
I ask because I've noticed applying classes with padding properties to Inky rows or columns often has no effect due to what I assume is the Ink framework's precedence over my custom scss.

I can get around it with some !imporant declarations, but that feels kind of wrong, and I worry it may break the framework in some instances.

EDIT: Noticed left/right padding declarations on most rows/columns d

[2016-04-13 16:10] brandonbarringer commented on #255
I found a solution by doing the following:
`<row class="full-width"><td><container><row><columns></columns></row></container></td></row>`

[2016-04-13 16:12] ineptian commented on #255
Brandon I also found at that you can do this using inky. Just wrap the container in a div with the class of header and boom!

[2016-04-13 18:12] arthurpf opened #349 "npm ERR! No compatible version found: foundation-emails@2.0.1"
**How can we reproduce this bug?**
Normal installing..
git clone https://github.com/zurb/foundation-emails-template project
cd project
npm install

OS - Linux Ubuntu
npm version - 3.8.6
node version - 4.4.2

**What did you expect to happen?**
It should have installed with its latest version(2.0.1)

**What happened instead?**
NPM was unable to found the latest version showing the message:
npm ERR!

[2016-04-13 18:15] arthurpf commented on #349
The npm's package page shows **2.0.0** as latest version

[2016-04-13 18:34] masterexploder commented on #349
I managed to get it working by tweaking the `package.json` to roll back the foundation-emails version to `2.0.0` and the panini version to `^1.2.0`. This appears to be the commit that broke everything: https://github.com/zurb/foundation-emails-template/commit/de83791d4a6c7fcb5cc1d27efdf36541f0e00552

[2016-04-13 18:53] getglad commented on #308
To close the loop on this, I have made a PR for Foundation to update SCSS and for Inky to implement the additional components.
Foundation: https://github.com/zurb/foundation-emails/pull/348
Inky: https://github.com/zurb/inky/pull/34

[2016-04-13 18:53] #308 closed, assigned to nobody

[2016-04-13 20:14] devmoreno commented on #349
Had this problem as well, I just added the modules one by one and eliminated the foundations-email from package.json to get it working

[2016-04-13 20:40] ableandre commented on #349
Same issue guys.
– running 'foundation new' in terminal
– sudo npm install
– get the error: **npm ERR! No compatible version found: foundation-emails@2.0.1
npm ERR! Valid install targets:
npm ERR! 2.0.0, 2.0.0-rc.4, 2.0.0-rc.3, 2.0.0-rc.2, 2.0.0-rc.1, 2.0.0-beta.2, 2.0.0-beta.1**

The only fix I could get working was to roll back to 2.0.0 by modifying the package.json (line14) from "2.0.1" to "2.0

[2016-04-13 20:50] arthurpf commented on #349
Exactly what i did @ableandre, worked so far. I'm not sure, but I think the solution is to update the version at npm. Only @gakimball and @tdhartwick can do it.

[2016-04-13 20:55] kball commented on #349
Thanks for the report.  Just pushed up the update.

[2016-04-13 20:55] #349 closed, assigned to nobody

[2016-04-13 22:08] probablyabear commented on #343
Is there a way to modify the project setup from the Zurb stack to accommodate for adding padding to rows/columns? This is necessary because Outlook ignores margin on block level elements.

[2016-04-14 16:26] ianmuscat commented on #344
I am also experiencing the same issue -- YAML works fine

[2016-04-14 19:26] zurbrandon opened #351 "Have Panini Ignore older emails"
If I have 100 old emails and no longer want to compile all of them on build how would i do this? There should be some way to tell Panini not to compile the file, maybe an underscore like in Sass?

[2016-04-14 19:52] susantashiro opened #352 "Button inside a center element does not center align below breakpoint"
I have two large-6 columns with a centered button in each column. At full size, the centering works great, however at the small breakpoint, the button is no longer centered - it shifts over to the left (the width of the center element changes from 100% to 50%)

**How can we reproduce this bug?**

[code]

**What did you expect to happen?**
Below the breakpoint, I expected the button to stay centere

[2016-04-14 21:00] rafibomb commented on #352
I was able to replicate this. It seems like the grid CSS is more specific and overriding the button's behavior. I like the solution you mentioned in the course chat this morning.

[2016-04-14 21:10] hswidarski opened #353 "Viewing New Pages"
Hi I was wondering how I view the different pages on my local host. I tried typing in localhost:300/pagename and it said it was not valid. How am I able to view it on my browser?

Thanks

[2016-04-14 21:42] hswidarski opened #354 "Email Footer"
Hi,

I'm also trying to finish an email and I'm having a lot of trouble with the footer. I have icons as images and am trying to put multiple on the same line in between text. I can't seem to get them on the same line, would we be able to have a google hang out?

[2016-04-14 22:18] #352 closed, assigned to rafibomb

[2016-04-14 22:19] rafibomb commented on #352
Resolved!

[2016-04-14 22:19] rafibomb commented on #354
The [Foundation forum](http://foundation.zurb.com/forum/) would be a great place to seek some help with troubleshooting what might be going on here. If it turns out to be a defect, you'll have some more info to provide here which will help prioritize and get it fixed.

We're trying to keep the issue list focused on confirmed defects in Foundation, so any help everyone can provide to differentiate

[2016-04-14 22:19] #354 closed, assigned to nobody

[2016-04-14 22:21] rafibomb commented on #353
It should be http://localhost:3000/pagename.html The file extension html is necessary as well.

[2016-04-14 22:21] #353 closed, assigned to nobody

[2016-04-14 22:24] susantashiro commented on #352
Awesome thanks!! :)

[2016-04-14 22:50] zurbrandon opened #355 "P tags unaffected by Sass Line-height Variable"
When changing the line-height in Sass Variables the P tags don't inherit it, but h1-h6 does.

[2016-04-14 22:52] zurbrandon opened #356 "Secondary buttons aren;t based on $secondary-color"
Using the secondary class on buttons appears not to pull in the $secondary-color variable, but instead are grey either way.

My guess is buttons are pulling some other gray color.

[2016-04-14 22:54] zurbrandon opened #357 "P Tags don't change color from a Sass variable"
Couldn't find a variable to change the color of P tags, but could change colors of H-tags.

[2016-04-14 22:55] rafibomb opened #358 "[grid] nested grid padding on large needs to be reduced"
**How can we reproduce this bug?**

Create a nested grid. Padding is being doubled on inner columns, should collapse.

**What did you expect to happen?**

![screen shot 2016-04-14 at 3 50 48 pm](https://cloud.githubusercontent.com/assets/5652085/14546263/2d7cc354-0259-11e6-9cf4-da293ad6a788.png)

**What happened instead?**

![screen shot 2016-04-14 at 3 54 44 pm](https://cloud.githubusercontent.co

[2016-04-14 23:48] #301 closed, assigned to tdhartwick

[2016-04-14 23:49] rafibomb commented on #301
Resolved! 2.1 will be out next week!

[2016-04-14 23:49] rafibomb commented on #330
Resolved - duplicate of https://github.com/zurb/foundation-emails/issues/301

[2016-04-14 23:49] #330 closed, assigned to nobody

[2016-04-15 09:01] MichalKrakow commented on #340
Just use configuration:

in Your gulpfile.babel.js

[code]

[2016-04-15 13:47] ementzer opened #361 "Trying to get three close images in footer"
We are creating a footer and would like three social icons to be close and centered under the contact information. Currently we have the contact information in columns, but they also are a little too spaced out. The social icons were also in columns, but I have since removed them. I have tried removing the space in the gutter, but either was doing it incorrectly or couldn't get it to work.

Here i

[2016-04-15 13:52] erklat commented on #328
Hi, yes I also confirm, I was wrapping Laravel Blade syntax inside Inky blocks using this helper and they were parsed.

[2016-04-15 15:07] rafibomb commented on #361
The [Foundation forum](http://foundation.zurb.com/forum/) would be a great place to seek some help with troubleshooting what might be going on here. If it turns out to be a defect, you'll have some more info to provide here which will help prioritize and get it fixed.

We're trying to keep the issue list focused on confirmed defects in Foundation, so any help everyone can provide to differentiate

[2016-04-15 15:07] #361 closed, assigned to nobody

[2016-04-15 15:11] rafibomb commented on #357
There is a $global-font-color that works for this. The `$header-color` is set to inherit but that can be overridden as needed. Does this set up make sense or do you think there needs to be an explicit `$paragraph-font-color` instead of `$global-font-color`?

[2016-04-15 15:13] rafibomb opened #362 "[Visibility] messes up callout height"
**How can we reproduce this bug?**

Use a visibility class on hidden callout, when callout is shown, height will be incorrect.

<img width="421" alt="screen shot 2016-04-15 at 8 11 41 am" src="https://cloud.githubusercontent.com/assets/5652085/14565858/e6f62504-02e1-11e6-97d8-ec8981e5380b.png">

**What did you expect to happen?**

Height be respected

[2016-04-15 16:03] ClementParis016 opened #363 "Opt-in responsive images"
Right now, if you insert an `<img>` in your template, it gets the following CSS (Scss) on small screens:

[code]

`File: scss/components/_media-query.scss:9`

Wouldn't it be more convenient that the above styles are applied only if you add a `.responsive` CSS class to your `<img>`?
Because those damn `!important` make everything more difficult when you want a fixed size for an image, even on small

[2016-04-15 18:33] rolandovelez13 commented on #285
Hello @rafibomb

Do you have any updates on this request? Also, there are some additional issues in Outlook 2013 120 DPI, the orange buttons do not have a background color.